
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">Dashboard</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </div>
</div>
<div class="container-fuid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-two">
                        <header>
                            <div style="text-align: center" >
                                <img id="mostrada"  class="imagen_perfil" [src]="imageUrl"/>
                            </div>
                            <div *ngIf="filesToUpload==null" style="text-align: center;margin-right: 12px" >
                                <input id="image" type="file" class="file-input" (change)="verfile($event.target.files,$event)">
                            </div>
                            <div  *ngIf="filesToUpload!=null" style="text-align: center" >
                                <br>
                                <button  class="btn btn-sm btn-info" (click)="isertarimagen(ususario.numero_documento)"><i class="fa fa-save"></i> Guardar</button>
                                <button  class="btn btn-sm btn-danger" (click)="cancelar()"><i class="fa fa-cancel"></i> Cancelar</button>
                            </div>
                        </header>
                            <h3>{{user?.name}} - {{user?.email}}</h3>
                        <div class="desc">
                            <p>Nombre Completo - {{ususario.name }} {{ususario.apellidos}}</p>
                            <p>Telefono - {{ususario.telefono }} </p>
                            <p>Documento de Identidad - {{ususario.numero_documento }}</p>
                            <p>Fecha de Nacimiento - {{ususario.nacimiento }} </p>
                        </div>
                        <div class="contacts">
                            <a  [routerLink]="['/admin/modificarcontraseña']" title="configuraciones avanzadas"><i class="fa fa-cogs"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
