
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">{{title}}</h3>
    </div>
</div>
<div class="container">
    <div class="fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="row">
                        <div class="container">
                            <div class="card-body">
                                <form class="form-horizontal" #formProveedor="ngForm" (ngSubmit)="onSubmit()">
                                    <div class="col-lg-12 row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label class="control-label" >
                                                        Nombre
                                                        <span *ngIf="!nombre.valid && nombre.touched" class="label label-danger">*</span>
                                                        <span *ngIf="nombre.valid" class="label label-success"><i class="fa fa-check"></i></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="proveedor.nombre_proveedor" placeholder="Nombre de proveedor" class="form-control" required/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label class="control-label">Ruc:
                                                        <span *ngIf="!ruc.valid && ruc.touched" class="label label-danger">*</span>
                                                        <span *ngIf="ruc.valid" class="label label-success"><i class="fa fa-check"></i></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" #ruc="ngModel"  maxlength="11" name="ruc" [(ngModel)]="proveedor.ruc" placeholder="Ruc"  class="form-control" required  pattern="[0-9]{11}"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label class="control-label">
                                                        Direccion
                                                        <span *ngIf="!direccion.valid && direccion.touched" class="label label-danger">*</span>
                                                        <span *ngIf="direccion.valid && direccion.touched" class="label label-success"><i class="fa fa-check"></i></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" #direccion="ngModel"  name="direccion" [(ngModel)]="proveedor.direccion" placeholder="Dirección de proveedor" class="form-control" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label class="control-label" >
                                                        Telefono
                                                        <span *ngIf="!telefono.valid && telefono.touched" class="label label-danger">*</span>
                                                        <span *ngIf="telefono.valid" class="label label-success"><i class="fa fa-check"></i></span>
                                                    </label>     
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" #telefono="ngModel"  name="telefono" [(ngModel)]="proveedor.telefono" maxlength="9" placeholder="Telefono del proveedor" class="form-control" required pattern="[0-9]{1}[0-9]{8}"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label class="control-label">
                                                        Email
                                                        <span *ngIf="!email.valid && email.touched" class="label label-danger">*</span>
                                                        <span *ngIf="email.valid" class="label label-success"><i class="fa fa-check"></i></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-8">
                                                        <input type="email" #email="ngModel"  name="email" [(ngModel)]="proveedor.email" placeholder="Email" class="form-control" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"/>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="estado==true">
                                                <div class="col-md-4">
                                                    <label class="control-label">
                                                        Categori
                                                        <span *ngIf="!id.valid && id.touched" class="label label-danger">*</span>
                                                        <span *ngIf="id.valid" class="label label-success"><i class="fa fa-check"></i></span>
                                                    </label>
                                                </div>
                                                <div class="col-md-7">
                                                    <select class="form-control custom-select" #id="ngModel" name="id" [(ngModel)]="proveedor.tipo_proveedor" required>
                                                        <option *ngFor="let tipo of tipos" [ngValue]="tipo.id" >
                                                            {{tipo.tipo}} - {{tipo.operacion}}
                                                        </option>               
                                                    </select>
                                                </div>
                                                <div class="col-sm-1">
                                                        <button type="button" (click)="getAdd()" class="btn btn-info btn-flat btn-addon btn-sm m-b-10 m-l-5"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </div>
                                            <div *ngIf="estado==false" class="row">
                                                <div class="col-sm-4">
                                                    <label class="control-label">Tipo</label>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="text" #tipo  placeholder="Agregar" class="form-control" required>
                                                </div>
                                                <div class="col-sm-3">
                                                    <select class="form-control custom-select" #operacion required>
                                                        <option disabled="disabled" hidden>selecione</option>
                                                        <option>Servicio</option>
                                                        <option>Proveedor</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-1">
                                                    <button type="button" (click)="saveTipo(tipo.value, operacion.value)" class="btn btn-info btn-flat btn-addon btn-sm m-b-10 m-l-5" ><i class="fa fa-check"></i></button>
                                                </div>
                                                <div class="col-sm-1">
                                                    <button type="button" (click)="exit()" class="btn btn-warning btn-flat btn-addon btn-sm m-b-10 m-l-5"><i class="fa fa-close"></i></button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <br>
                                    <div class="col-lg-12 row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            <button type="submit" [disabled]="!formProveedor.form.valid || estado==false" class="btn btn-success"> <i class="fa fa-check"></i>Guardar</button>
                                            <button type="button"  class="btn btn-inverse" (click)="onCancel()">Cancel</button> 
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="container">
                            <div class="card-body">
                                <h4 class="card-title">Exportar Información</h4>
                                <div class="table-responsive m-t-40">
                                    <table id="provee" class="table table-bordered table-striped"  cellpadding="0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Ruc</th>
                                                <th>Direccion</th>
                                                <th>telefono</th>
                                                <th>email</th>
                                                <th>Tipo</th>
                                                <th>Categoria</th>
                                                <th></th>
                                                <th *ngIf="confirmado==true"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let proveedor of proveedores">
                                                <td>{{proveedor.nombre_proveedor}}</td>
                                                <td>{{proveedor.ruc}}</td>
                                                <td>{{proveedor.direccion}}</td>                    
                                                <td>{{proveedor.telefono}}</td>                    
                                                <td>{{proveedor.email}}</td> 
                                                <td>{{proveedor.tipo}}</td>
                                                <td>{{proveedor.operacion}}</td>
                                                <td>
                                                    <button type="button" (click)="edit(proveedor.id)" class="btn btn-warning  btn-flat btn-addon btn-xs m-b-10"><i class="fa fa-edit"></i></button>
                                                </td>
                                                <td *ngIf="confirmado==true">
                                                    <button type="button" (click)="alertaDelete(proveedor.id)" class="btn btn-danger btn-flat btn-addon btn-xs m-b-10"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
