<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">{{title}}</h3>
    </div>
</div>
<div class="container">
    <div class="fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="row">
                        <div class="container">
                            <div class="card-title ">
                                <label class="control-label">
                                    <i class="fa fa-archive"></i>
                                    Registro
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="card-body">
                                <form class="form-horizontal" #formSucursal="ngForm" (ngSubmit)="onSubmit()">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <label class="control-label">Nombre</label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="sucursal.nombre_sucursal" class="form-control" placeholder="Sucursal" required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <label class="control-label">Almacen</label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <select class="form-control custom-select" #almacen="ngModel" name="almacen" [(ngModel)]="sucursal.id_almacen" required>
                                                            <option *ngFor="let almacen of almacenes" [ngValue]="almacen.id" >
                                                                {{almacen.nombre}}
                                                            </option>               
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <label class="control-label">Direccion</label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <input type="text" #direccion="ngModel" name="direccion" [(ngModel)]="sucursal.direccion" class="form-control"  placeholder="Ingrese Direccion" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <label class="control-label">Telefono</label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <input type="text" #telefono="ngModel" name="telefono"  [(ngModel)]="sucursal.telefono" class="form-control" maxlength="9"  placeholder="Ingrese Telefono" required pattern="[0-9]{1}[0-9]{8}">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-4">
                                                        <label class="control-label"  >Descripcion </label>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <textarea #descripcion="ngModel" name="descripcion" [(ngModel)]="sucursal.descripcion" class="form-control" rows="5" required></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
        
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <button class="btn btn-info" [disabled]="!formSucursal.form.valid"><i class="fa fa-check"></i> Guardar</button>
                                                    <button (click)="onCancel()"class="btn btn-success"><i class="fa fa-ban"></i> Cancelar</button>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
        
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="card-body">
                                <h4 class="card-title">Expotar informacion</h4>
                                <div class="table-responsive m-t-40">
                                    <table id="sucur" class="table table-bordered table-striped" cellpadding="0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nombre</th>
                                                <th>Direccion</th>
                                                <th>Telefono</th>
                                                <th>Descripcion</th>
                                                <th>Almacen</th>
                                                <th></th>
                                                <th *ngIf="confirmado==true"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let o of sucursales; let $index=index" >
                                                <td>{{$index +1}}</td>
                                                <td>{{o.nombre_sucursal}}</td>
                                                <td>{{o.direccion}}</td>
                                                <td>{{o.telefono}}</td>
                                                <td>{{o.descripcion}}</td> 
                                                <td>{{o.nombre}}</td>
                                                <td><button (click)="edit(o.id)" class="btn btn-info btn-flat btn-addon btn-xs m-b-10">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </td>
                                                <td *ngIf="confirmado==true"><button (click)="alertaDelete(o.id)" class="btn btn-danger btn-flat btn-addon btn-xs m-b-10">
                                                        <i class="fa fa-trash"></i>
                                                    </button>
                                                </td>                                      
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
