<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label">Home</li>
                <li> <a [routerLink]="['']" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Inicio</span></a>
                </li>
                <li> <a class="has-arrow"   aria-expanded="false"><i class="fa fa-columns"></i><span class="hide-menu">Ventas</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a >Ventas</a></li>
                        <li><a >Ventas Recurretes</a></li>
                        <li><a >Pagos Recibo</a></li>
                        <li><a >Notas de Credito</a></li>
                    </ul>
                </li>
                <li class="nav-label">Procesos</li>
                <li> <a  class="has-arrow" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Gastos</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/admin/transaccion/list']">Compras</a></li>
                        <li><a [routerLink]="['/admin/servicio/list']">Pagos Servicios</a></li>
                        <li><a [routerLink]="['/admin/transaccion/anular']">Anular Pago Proveedor</a></li>
                        <li><a [routerLink]="['/admin/servicio/anular']">Anular Pago Servicio</a></li>
                        <li><a [routerLink]="['/admin/pedido/listar']">Orden Compra</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow  "  aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Contactos</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/admin/proveedor']">Proveedores</a></li>
                        <li><a >Clientes</a></li>
                    </ul>
                </li>
                <li> <a [routerLink]="['profile']" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">Profile</span></a></li>
                <li class="nav-label">Almacen</li>
                <li> <a class="has-arrow" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Inventarios</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/admin/reporteInventario']">Valor de inventario</a></li>
                        <li><a [routerLink]="['/admin/inventario']">Ajustes inventario</a></li>
                        <li><a [routerLink]="['/admin/almacen']">Lista de Precios</a></li>
                        <li><a [routerLink]="['/admin/almacenes']">Almacenes</a></li>
                    </ul>
                </li>
                <li class="nav-label">GENERALES</li>
                <li> <a class="has-arrow  " aria-expanded="false"><i class="fa fa-book"></i><span class="hide-menu">AJUSTES GENERALES</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/admin/documento']" >Documentos</a></li>
                        <li><a [routerLink]="['/admin/productos']" >Productos</a></li>
                        <li><a [routerLink]="['/admin/sucursal']" >Sucursal</a></li>
                    </ul>
                </li>
                <li> <a class="has-arrow  "  aria-expanded="false"><i class="fa fa-map-marker"></i><span class="hide-menu">Usuarios</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a [routerLink]="['/admin/usuarios']" > Crear Usuarios</a></li>
                        <li><a [routerLink]="['/admin/editarusuario']"> Editar Usuarios</a></li>
                        <li><a>inhabilitar Usuario</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>