<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">{{title}}</h3>
    </div>
</div>
<div class="container">
    <div class="fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="row">
                        <div class="container">
                            <div class="card-body">
                                <form #formEmpresa=ngForm (ngSubmit)="onSubmit(ruc.value)">
                                    <div class="col-lg-12 row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-8" style="text-align: center">
                                                    <img  class="empresa_imagen" [src]="imageUrl" >
                                                </div>
                                                <div class="col-md-2"></div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-8" style="text-align: center">
                                                    <input type="file" id="image" (change)="viewImage($event.target.files,$event)" name="image" class="form-control" accept="image/jpg && image/png" required />
                                                </div>
                                                <div class="col-md-2"></div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="control-label">
                                                        Nombre
                                                    </label> 
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="inner-addon left-addon">
                                                        <i *ngIf="nombre.valid" style="color: green" class="fa fa-check"></i>
                                                        <i *ngIf="!nombre.valid && nombre.touched" style="color: red" class="fa fa-times"></i>
                                                        <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="empresa.razon_social" placeholder="Nombre de Empresa" class="form-control" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="control-label">
                                                        Nombre Comercial
                                                    </label> 
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="inner-addon left-addon">
                                                        <i *ngIf="comer.valid" style="color: green" class="fa fa-check"></i>
                                                        <i *ngIf="!comer.valid && comer.touched" style="color: red" class="fa fa-times"></i>
                                                        <input type="text" #comer="ngModel" name="comer" [(ngModel)]="empresa.nombre_comercial" placeholder="Ingrese el Nombre Comercial" class="form-control" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="control-label">
                                                        Ruc
                                                    </label> 
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="inner-addon left-addon">
                                                        <i *ngIf="ruc.valid" style="color: green" class="fa fa-check"></i>
                                                        <i *ngIf="!ruc.valid && ruc.touched" style="color: red" class="fa fa-times"></i>
                                                        <input type="text" #ruc="ngModel" name="ruc" [(ngModel)]="empresa.ruc" placeholder="Ingrese Ruc" class="form-control" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="control-label">
                                                        Direccion
                                                    </label> 
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="inner-addon left-addon">
                                                        <i *ngIf="direccion.valid" style="color: green" class="fa fa-check"></i>
                                                        <i *ngIf="!direccion.valid && direccion.touched" style="color: red" class="fa fa-times"></i>
                                                        <input type="text" #direccion="ngModel" name="direccion" [(ngModel)]="empresa.direccion" placeholder="Ingrese Direccion" class="form-control" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="control-label">
                                                        Pagina Web
                                                    </label> 
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="inner-addon left-addon">
                                                        <i *ngIf="web.valid" style="color: green" class="fa fa-check"></i>
                                                        <i *ngIf="!web.valid && web.touched" style="color: red" class="fa fa-times"></i>
                                                        <input type="text" #web="ngModel" name="web" [(ngModel)]="empresa.web" placeholder="http://www.empresa.com" class="form-control" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="control-label">
                                                        Correo Electronico
                                                    </label> 
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="inner-addon left-addon">
                                                        <i *ngIf="email.valid" style="color: green" class="fa fa-check"></i>
                                                        <i *ngIf="!email.valid && email.touched" style="color: red" class="fa fa-times"></i>
                                                        <input type="text" #email="ngModel" name="email" [(ngModel)]="empresa.email" placeholder="correo@empresa.com" class="form-control" required/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="control-label">
                                                        es agente de percepcion?
                                                    </label> 
                                                </div>
                                                <div class="col-md-6" style="text-align: center">
                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                        <button *ngIf="empresa.percepcion!=false" style="background: #67757c;color: white" type="button" class="btn btn-secondary" (click)="percepciontrue()">Si</button>
                                                        <button *ngIf="empresa.percepcion==false"  type="button" class="btn btn-secondary" (click)="percepciontrue()">Si</button>
                                                        <button *ngIf="empresa.percepcion==false" style="background: #67757c;color: white" type="button" class="btn btn-secondary" (click)="percepcionfalse()">No</button>
                                                        <button *ngIf="empresa.percepcion!=false"  type="button" class="btn btn-secondary" (click)="percepcionfalse()">No</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="control-label">
                                                        Telefono Fijo
                                                    </label> 
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="inner-addon left-addon">
                                                        <i *ngIf="telefono1.valid" style="color: green" class="fa fa-check"></i>
                                                        <i *ngIf="!telefono1.valid && telefono1.touched" style="color: red" class="fa fa-times"></i>
                                                        <input type="text" #telefono1="ngModel" name="telefono1" [(ngModel)]="empresa.telefono1" placeholder="telefono fijo" class="form-control" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="control-label">
                                                        Telefono Movil
                                                    </label> 
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="inner-addon left-addon">
                                                        <i *ngIf="telefono2.valid" style="color: green" class="fa fa-check"></i>
                                                        <i *ngIf="!telefono2.valid && telefono2.touched" style="color: red" class="fa fa-times"></i>
                                                        <input type="text" #telefono2="ngModel" name="telefono2" [(ngModel)]="empresa.telefono2" placeholder="telefono Movil" class="form-control" required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="control-label">
                                                        Departamento
                                                    </label> 
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="inner-addon left-addon">
                                                        <i *ngIf="depar.valid" style="color: green" class="fa fa-check"></i>
                                                        <i *ngIf="!depar.valid && depar.touched" style="color: red" class="fa fa-times"></i>
                                                        <select id="depselect" #depar="ngModel" (change)="selectdepartamento(empresa.departamento)" name="depar" [(ngModel)]="empresa.departamento" class="form-control custom-select" required>
                                                                <option   disabled="disabled">--seleccione el departamento</option>    
                                                            <option *ngFor="let deps of departamento" value="{{deps.departamento}}"><b>{{deps.departamento}}</b></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="control-label">
                                                        Provincia
                                                    </label> 
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="inner-addon left-addon">
                                                        <i *ngIf="prov.valid" style="color: green" class="fa fa-check"></i>
                                                        <i *ngIf="!prov.valid && prov.touched" style="color: red" class="fa fa-times"></i>
                                                        <select id="provselect" #prov="ngModel" (change)="selectprovincia(empresa.provincia)" name="prov" [(ngModel)]="empresa.provincia" class="form-control custom-select" required>
                                                                <option   disabled="disabled">--seleccione la provincia</option>    
                                                            <option *ngFor="let provs of provincia" value="{{provs.provincia}}"><b>{{provs.provincia}}</b></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="control-label">
                                                        Distrito
                                                    </label> 
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="inner-addon left-addon">
                                                        <i *ngIf="dist.valid" style="color: green" class="fa fa-check"></i>
                                                        <i *ngIf="!dist.valid && dist.touched" style="color: red" class="fa fa-times"></i>
                                                        <select id="disselect" #dist="ngModel" (change)="selectdistrito(empresa.distrito)" name="dist" [(ngModel)]="empresa.distrito" class="form-control custom-select" required>
                                                                <option   disabled="disabled">--seleccione el distrito</option>    
                                                            <option *ngFor="let distt of distrito" value="{{distt.distrito}}"><b>{{distt.distrito}}</b></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="control-label">
                                                        PFX
                                                    </label> 
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="inner-addon right-addon">
                                                        <i *ngIf="archToUpload!=null" style="color: green" class="fa fa-check"></i>
                                                        <i *ngIf="archToUpload==null" style="color: red" class="fa fa-times"></i>
                                                        <input type="file" id="archivosunat" (change)="viewpfx($event.target.files,$event)"  name="archivosunat" class="form-control" accept="archivosunat/pfx" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label for="control-label">
                                                        clave sol
                                                    </label> 
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="inner-addon right-addon">
                                                        <i *ngIf="pass.valid" style="color: green" class="fa fa-check"></i>
                                                        <i *ngIf="!pass.valid && pass.touched" style="color: red" class="fa fa-times"></i>
                                                        <input type="password" id="pass" name="pass" #pass="ngModel" [(ngModel)]="clave_sol" placeholder="clave sol" class="form-control" required pattern="[A-Za-z0-9]{8,50}"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <br>
                                    <div class="col-lg-12 row">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4" style="text-align: center">
                                            <button type="submit" [disabled]="!formEmpresa.form.valid || empresa.ubigeo==null" class="btn btn-info">Guardar</button>
                                            <button type="button" (click)="onCancel()" class="btn btn-inverse">Cancelar</button>
                                        </div>
                                        <div class="col-md-4"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>