
#form-producto label{
    margin-top: 20px;

    
}
#form-producto {
    margin-left: 200px;
    margin-right: 1500px;
    border: 1px;
    border-color:gray;
}
h2{
    margin-left: 520px;
    font-style: italic;
    padding: 2px;
}
#rec{
    color: red;
}
#form-producto div{
    padding-left: 10px;
    float: left;
}

divcategoria {
    padding-top: 1px;
    padding-left: 30px;
    float: left;
}
catessss{
    float: left;
}
boton{
    float: right;
    padding-top: 200px;
}

