<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary"><i class="fa fa-list-alt fa-2x"></i> <strong> {{title}}</strong></h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li *ngIf="veragregar==true" class="breadcrumb-item"><button class="btn btn-info" (click)="agregar()"><i class="fa fa-plus"></i>Agregar</button></li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="container fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <strong>Exportar Información</strong>
                        <div class="table-responsive m-t-4">
                            <table id="pago" class="table table-bordered table-striped" cell="0" cellspancing="0">
                                <thead>
                                    <tr>
                                        <th>Nro</th>
                                        <th>Codigo</th>
                                        <th>Proveedor</th>
                                        <th>Documento</th>
                                        <th>Nro</th>
                                        <th>Pago</th>
                                        <th>Almacen</th>
                                        <th>SubTotal</th>
                                        <th>IGV</th>
                                        <th>EXNE</th>
                                        <th>GRAV</th>
                                        <th>OTRO</th>
                                        <th>TOTAL</th>
                                        <th>opcion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let pago of pagos; let $index=index;">
                                        <td>{{$index+1}}</td>
                                        <td>{{pago.code}}</td>
                                        <td>{{pago.nombre_proveedor}}</td>
                                        <td>{{pago.documento}}</td>
                                        <td>{{pago.nroBoleta}}</td>
                                        <td>{{pago.tipoPago}}</td>
                                        <td>{{pago.nombre}}</td>
                                        <td>{{pago.subtotal}}</td>
                                        <td>{{pago.igv  | number:'1.2' }}</td>
                                        <td>{{pago.exonerados  | number:'1.2' }}</td>
                                        <td>{{pago.gravados  | number:'1.2' }}</td>
                                        <td>{{pago.otro | number:'1.2' }}</td>
                                        <td>{{ (pago.subtotal*1 + pago.igv*1 + pago.otro*1 ) | number:'1.2' }}</td>
                                        <td><button type="button" class="btn btn-success btn-sm m-b-10 m-l-5" (click)="recibo(pago.id,pago.code,pago.id_proveedor,pago.nombre_proveedor,
                                            pago.documento, pago.nroBoleta, pago.nombre,
                                            pago.tipoPago,pago.subtotal,pago.igv,pago.exonerados,pago.gravados,pago.otro,
                                            pago.fecha)"><i class="fa fa-eye"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>