<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">
            <i class="fa fa-building"></i>
                {{title}}
        </h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li *ngIf="verlistar==true" class="breadcrumb-item"><button class="btn btn-info"(click)="list()">Listar</button></li>
        </ol>
    </div>
</div>
<div  *ngIf="verservicio_add==true"  class="container">
    <div class="fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title row">
                        <div class="col-md-4 align-self-center">
                            PAGO DE {{title}} : <strong>{{code}}</strong>
                        </div>
                    </div>
                    <ul class="nav nav-tabs profile-tab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#pago" role="tab">Comprobante</a> </li>
                        <li class="nav-item" [hidden]="validacion!==true"> <a class="nav-link" data-toggle="tab" href="#servicio" role="tab">Servicios</a></li>
                    </ul>
                    <br>
                    <div class="tab-content">
                        <div class="tab-pane active" id="pago" role="tabpanel">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>
                                                    Comprobante
                                                </label>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="inner-addon left-addon">
                                                    <i *ngIf="a1==true" style="color: green" class="fa fa-check"></i>
                                                    <select class="form-control custom-select" #compro (change)="validate1()">
                                                        <option disabled="disabled" hidden>Tipo de Documento</option>
                                                        <option *ngFor="let comprobante of comprobantes" [value]="comprobante.id" >
                                                            {{comprobante.documento}}
                                                        </option>
                                                    </select>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>Nro Comprobante</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="inner-addon left-addon">
                                                    <i *ngIf="a2==true" style="color: green" class="fa fa-check"></i>
                                                    <input type="text" placeholder="numero de comprobante" class="form-control" #nroRecibo (change)="validate2(nroRecibo.value)">
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label>Tipo de Pago</label>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="inner-addon left-addon">
                                                    <i *ngIf="a3==true" style="color: green" class="fa fa-check"></i>
                                                    <select class="form-control custom-select" #tipoP (change)="validate3()">
                                                        <option disabled="disabled" hidden>Tipo de Pago</option>
                                                        <option>Efectivo</option>
                                                        <option>Bancario</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        <div class="tab-pane" id="servicio" role="tabpanel">
                            <div class="card-body">
                               <div class="col-lg-12">
                                   <strong> Lista Servicios </strong>
                                   <div class="table-responsive">
                                        <table id="serviadd" class="table table-bordered table-striped"  cellpadding="0" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>Accion</th>
                                                    <th>Nombre</th>
                                                    <th>Ruc</th>
                                                    <th>direccion</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let servicio of servicios">
                                                    <td *ngIf="confirmado==servicio.id">
                                                        <button class="btn btn-success btn-flat btn-addon btn-xs m-b-10">
                                                            <i class="fa fa-check"></i>
                                                        </button>
                                                    </td>
                                                    <td *ngIf="confirmado!==servicio.id">
                                                        <button class="btn btn-info btn-flat btn-addon btn-xs m-b-10" (click)="addServicio(servicio.id,servicio.nombre_proveedor,servicio.ruc,servicio.direccion,servicio.tipo)">
                                                            <i class="fa fa-check"></i>
                                                        </button>
                                                    </td>
                                                    <td>{{servicio.nombre_proveedor}}</td>
                                                    <td>{{servicio.ruc}}</td>
                                                    <td>{{servicio.direccion}}</td>
                                                </tr>
                                            </tbody>
                                        </table> 
                                    </div>
                               </div> 
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="container">

                        </div>
                    </div>
                    <div class="row">
                        <div class="card-title">
                            <label for="" class="control-label">
                                <i class="fa fa-shopping-cart"></i>
                                DETALLE DE PAGO
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="card-body">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>
                                                        Nombre:
                                                    </label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label>
                                                        <strong>{{nombre}}</strong> 
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>
                                                        Ruc:
                                                    </label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label>
                                                        <strong>{{ruc}}</strong>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>
                                                        Direccion:
                                                    </label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label>
                                                        {{direccion}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>
                                                        Tipo:
                                                    </label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label>
                                                        <strong>{{tipo}}</strong> 
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>
                                                        Decripcion Pago:
                                                    </label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="form-group">
                                                        <div class="inner-addon left-addon">
                                                            <i *ngIf="a4==true" style="color: green" class="fa fa-check"></i>
                                                            <input type="text" class="form-control" rows="3" #descrip  (change)="validate4(descrip.value)">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="card-title">
                                <label class="control-label">
                                    <i class="fa fa-money"></i>
                                    PAGO
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="card-body">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>
                                                        SUBTAL:
                                                    </label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="inner-addon left-addon">
                                                        <i *ngIf="a5==true" style="color: green" class="fa fa-check"></i>
                                                        <input type="number" min="0"  #subtotal (change)="sumaTotal(subtotal.value)" class="form-control"> 
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <label>
                                                        IGV(18%)
                                                    </label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label> s/. {{igv |number:'1.2' }}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label>
                                                        TOTAL:
                                                    </label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <label><strong>s/. {{total |number:'1.2'}}</strong></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <button class="btn btn-info" (click)="onSubmit(compro.value, nroRecibo.value, tipoP.value, descrip.value, subtotal.value)" [disabled]=" val==false">Guardar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>