<form #formcategoria="ngForm" >
    <div class="row p-t-1">
        <div class="col-md-9">
            <div class="form-group">
                <label class="control-label">{{titulo}}
                <span *ngIf="!caterias.valid && caterias.touched" class="label label-default">El nombre es obligatorio</span>
                <label id="rec" *ngIf="!caterias.valid">*</label>
                </label>
                <input type="caterias"  #caterias="ngModel" name="caterias" [(ngModel)]="categoria.nombre" class="form-control col-md-12" placeholder="{{titulo}}" required>
            </div>
        </div>
        <div class="col-md-3">  
            <br>
            <br>
             <button  *ngIf="titulo=='editar categoria'" (click)="actualizarcategoria()" value="{{titulo}}" [disabled]="!formcategoria.form.valid" 
                    class="btn btn-info btn-flat btn-addon btn-sm m-b-5 m-l-5">
                         <i class="fa fa-cloud-upload"></i></button>
             <button  *ngIf="titulo!='editar categoria'" (click)="guardarcategoria()" value="{{titulo}}" [disabled]="!formcategoria.form.valid" 
                    class="btn btn-info btn-flat btn-addon btn-sm m-b-5 m-l-5">
                        <i class="fa fa-save"></i></button>    
            <button type="button" (click)="exit()" class="btn btn-warning btn-flat btn-addon btn-sm m-b-10 m-l-5"><i class="fa fa-close"></i></button>
        </div>
    </div>
</form>