<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">{{titulo}}</h3>
    </div>
</div>
<div  class="container-fluid" *ngIf="modificarproducto==null">
    <div class="col-lg-12">
        <div  class="card card-outline-primary">
            <div class="card-body">
                <form #formProducto="ngForm"  action="#">
                        <!--<div   *ngIf="!formProducto.form.valid &&  nombre.touched &&  Descripcion.touched " class="alert alert-danger">
                            <span style="color:black">rellenar todos los campo requeridos(<label style="color: red" >*</label>)</span>
                        </div>-->
                <div class="form-horizonta">
                    <div class="col-lg-12 row">
                        <div class="col-lg-6">
                            <div class="row p-t-20">

                                <div class="col-sm-12" style="text-align: center" >
                                    <img  class="productos_imagen"   [src]="imageUrl" > 
                                </div>
                                <div  class="col-sm-4">
                                    <label class="control-label">Imagen</label>    
                                </div>
                                <div  class="col-sm-8">
                                    <input type="file" id="image" (change)="mostarriname($event.target.files,$event)" name="image" class="form-control" accept="image/jpg && image/png" required />
                                </div>
                                <br>
                                <br>
                                <br>
                                <div class="col-sm-4">
                                    <label class="control-label">Nombre:</label>    
                                </div>
                                <div class="col-sm-8">
                                    <div class="inner-addon left-addon">
                                        <i *ngIf="nombre.valid" style="color: green" class="fa fa-check"></i>
                                        <i *ngIf="!nombre.valid && nombre.touched" style="color: red" class="fa fa-times"></i>
                                        <input type="text"  id="firstName" #nombre="ngModel" name="nombre" [(ngModel)]="agregarpro.nombre_producto"  class="form-control" placeholder="escriba el nombre del producto" required/>
                                    </div>  
                                </div>
                                <br>      
                                <br>
                                <br>            
                                <div *ngIf="llamarunidad==null" class="col-sm-4">
                                    <label class="control-label">Unidad de media</label>
                                </div>
                                <div *ngIf="llamarunidad==null" class="col-sm-6">
                                    <div class="inner-addon left-addon">
                                        <i *ngIf="unidadmedida.valid" style="color: green" class="fa fa-check"></i>
                                        <i *ngIf="!unidadmedida.valid && unidadmedida.touched" style="color: red" class="fa fa-times"></i>
                                        <select id="unidadselect" #unidadmedida="ngModel" (change)="aparecerunidad(agregarpro.id_unidad)" name="unidadmedida" [(ngModel)]="agregarpro.id_unidad" class="form-control custom-select " data-placeholder="Choose a Category" tabindex="0" SelectedIndex="-1" required>
                                                <option disabled="disabled">--seleccione la unidad</option>    
                                            <option *ngFor="let uni of unidadmodelo" value="{{uni.id}}"><b>{{uni.unidad}}</b></option>
                                        </select>
                                    </div> 
                                </div>  
                                <div *ngIf="llamarunidad==null" style="text-align: right;" class="col-sm-2">
                                    <a (click)="llamarunid(1,null)" class="btn btn-success  btn-flat btn-addon btn-sm" style="margin-left: -30px;"> <i class="fa fa-plus"></i></a>
                                    <a *ngIf="unidad!=null" (click)="llamarunid(agregarpro.id_unidad,2)" class="btn btn-primary  btn-flat btn-addon btn-sm"> <i class="fa fa-edit"></i></a>
                                </div>
                                <br>
                                <br>
                                <br>
                                <div *ngIf="unidad!=null && llamarunidad==null" class="col-sm-4">
                                    <label class="control-label">cantidad</label>
                                </div>
                                <div *ngIf="unidad!=null && llamarunidad==null" class="col-sm-8">
                                    <div class="inner-addon left-addon">
                                        <i *ngIf="cantidadunitaria.valid" style="color: green" class="fa fa-check"></i>
                                        <i *ngIf="!cantidadunitaria.valid && cantidadunitaria.touched" style="color: red" class="fa fa-times"></i>
                                        <input  id="cantida"  type="text" #cantidadunitaria="ngModel" name="cantidadunitaria" [(ngModel)]="agregarpro.cantidad"  class="form-control"  required pattern="[0-9]+"/>                            
                                    </div> 
                                </div>
                                <div *ngIf="llamarunidad!=null && aparecereditunidad==null" class="col-sm-12" >
                                    <div class="form-group">
                                        <unidades></unidades>
                                    </div>
                                </div>
                                <div *ngIf="aparecereditunidad==2" class="col-sm-12" >
                                    <unidades-edit></unidades-edit> 
                                </div>  
                            </div>
                        </div>
                       
                        <div class="col-lg-6">
                            <div class="row p-t-20">
                                <div *ngIf="llamarcategoria==null" class="col-sm-4">
                                    <label class="control-label">Categoria:</label>    
                                </div>
                                <div *ngIf="llamarcategoria==null" class="col-sm-6">
                                     <div class="inner-addon left-addon">
                                        <i *ngIf="cates.valid" style="color: green" class="fa fa-check"></i>
                                        <i *ngIf="!cates.valid && cates.touched" style="color: red" class="fa fa-times"></i>
                                        <select id="categoriaselect" #cates="ngModel" (change)="aparecermodificarcategoria(agregarpro.id_categoria)" name="cates" [(ngModel)]="agregarpro.id_categoria" class="form-control custom-select" required>
                                                <option   disabled="disabled">--seleccione la categoria</option>    
                                            <option *ngFor="let categoria of cate" value="{{categoria.id}}"><b>{{categoria.nombre}}</b></option>
                                        </select>
                                    </div>  
                                </div>
                                <div *ngIf="llamarcategoria==null" style="text-align: right;" class="col-sm-2" >
                                    <a (click)="llamarcate(1,null)" class="btn btn-success btn-flat btn-addon btn-sm " style="margin-left: -30px;">  <i class="fa fa-plus"></i></a>
                                    <a *ngIf="modificarcategoria!=null" (click)="llamarcate(agregarpro.id_categoria,2)" class="btn btn-primary btn-flat btn-addon btn-sm "> <i class="fa fa-edit"></i></a>   
                                </div>
                                <div *ngIf="llamarcategoria!=null && aparecereditcate==null" class="col-sm-12" >
                                    <categoria></categoria>
                                </div> 
                                <div *ngIf="aparecereditcate==2" class="col-sm-12" >
                                        <categoria-edit></categoria-edit>
                                </div>  
                                <br>
                                <br>
                                <br>
                                <div class="col-sm-4">
                                    <label class="control-label">Descripción</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="inner-addon left-addon">
                                        <i *ngIf="Descripcion.valid" style="color: green" class="fa fa-check"></i>
                                        <i *ngIf="!Descripcion.valid && Descripcion.touched" style="color: red" class="fa fa-times"></i>
                                        <input id="describe" type="text" #Descripcion="ngModel" name="Descripcion" [(ngModel)]="agregarpro.descripcion" class="form-control" placeholder="escriba una descripcion" required>
                                    </div> 
                                </div>  
                                <br>
                                <br>
                                <br> 
                                <div  class="col-sm-4">
                                    <label class="control-label">IGV:</label>    
                                </div>
                                <div class="col-sm-8">
                                     <div class="inner-addon left-addon">
                                        <i *ngIf="igv.valid" style="color: green" class="fa fa-check"></i>
                                        <i *ngIf="!igv.valid && igv.touched" style="color: red" class="fa fa-times"></i>
                                        <select  id="igvselect" #igv="ngModel" (change)="agregardetalleimpuestoigv(detalleimpu.id_impuesto)" name="igv" [(ngModel)]="detalleimpu.id_impuesto" class="form-control custom-select" required>
                                                <option  disabled="disabled">--selecciona el tipo de igv</option>    
                                            <option  *ngFor="let ig of impuestoigv" value="{{ig.id}}"><b>{{ig.nombre}}</b></option>
                                        </select>
                                    </div>  
                                </div>
                                <br>
                                <br>
                                <br>
                                <div *ngIf="mostratablaotros==null"  class="col-sm-4">
                                    <button  class="btn btn-primary btn-sm" (click)="mostratablaimpuestos()" style="background: #3584f0;border: 1px solid #3636f6;" ><i class="fa fa-arrow-circle-down"></i> mas impuestos</button>
                                </div>
                               
                                <div  *ngIf="mostratablaotros!=null" class="col-sm-12">
                                    <div style="text-align: right" class="col-sm-12">
                                        <table style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th  style="text-align: center">
                                                        Nombre
                                                        <hr>
                                                    </th>
                                                    <th  style="text-align: center">porcentage<hr></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let imotro of impuestrootro;let $index=index">
                                                    <td style="width : 50px;">
                                                        <div *ngIf="imotro.id!=null"><button (click)="agregardetalleimpuestootro($index,imotro.id)" class="btn btn-info btn-flat btn-addon btn-sm m-b-5 m-l-5"><i class="fa fa-circle"></i></button></div>
                                                        <div *ngIf="imotro.id==null" ><button (click)="quitardetalleimpuestootro($index)" class="btn btn-success btn-flat btn-addon btn-sm m-b-5 m-l-5"><i class="fa fa-check-circle"></i></button></div>
                                                    </td>
                                                    <td  style="text-align: center"><a >{{imotro.nombre}}</a></td>
                                                    <td  style="text-align: center"><a >{{imotro.porcentaje}}%</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--<div class="table-responsive m-t-0">
                                        <div *ngIf="!impuestrootro">
                                            cargando impuestos ...
                                        </div>
                                        <div *ngIf="impuestrootro">
                                            <table id="tablaimpuesto" class="table table-bordered table-striped"  cellpadding="0" cellspacing="0">
                                                <thead style="text-align: center">
                                                    <tr>
                                                        <th></th>
                                                        <th>nombre</th>
                                                        <th>descripcionm</th>
                                                        <th style="width: 80px;">porcentage</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="text-align: center" > 
                                                    <tr *ngFor="let otro of impuestrootro">
                                                        <td><button  class="btn btn-sm btn-info "><i class="fa fa-circle"></i></button></td>
                                                        <td >{{otro.nombre}}</td>
                                                        <td >{{otro.descripcion}}</td>
                                                        <td style="text-align: center" >{{otro.porcentaje}} %</td>   
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>-->
                                </div>  
                            </div>
                        </div>
                
                        <div class="col-lg-12" style="margin-left: -15px">
                            
                        </div>
                        
                        <div class="col-lg-6">
                            <div class="row p-t-20">
                                
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row p-t-20">
                                
                            </div>
                        </div>
                    </div> 
                    <br>
                    <br>  
                    <div style="text-align: center" >
                        <button (click)="isertarimagen()" [disabled]="!formProducto.form.valid || (aparecereditunidad==null && llamarunidad!=null) || (llamarcategoria!=null && aparecereditcate==null) || aparecereditunidad==2 || aparecereditcate==2"  class="btn btn-info"> <i class="fa fa-check"></i> Save</button>
                        <button (click)="limpiar()" class="btn btn-success"> <i class="fa fa-ban"></i> Cancelar</button>
                    </div>
                </div>
            </form>
            <hr>
            <h4 class="card-title">Exportar Información</h4>
            <div class="table-responsive m-t-40">
                <div *ngIf="!productos">
                        cargando listado de productos....
                </div>
                    <div *ngIf="productos">
                        <table id="mytable" class="table table-bordered table-striped"  cellpadding="0" cellspacing="0">
                            <thead style="text-align: center">
                                <tr>
                                    <th>Nombre</th>
                                    <th>cantidad</th>
                                    <th>unidad de medida</th>
                                    <th>categoria</th>
                                    <th>descripcion</th>
                                    <th ><a *ngIf="modificarproducto!=null">Guardar?</a></th>
                                </tr>
                            </thead>
                            <tfoot style="text-align: center">
                                <tr>
                                    <th>Nombre</th>
                                    <th>cantidad</th>
                                    <th>unidad de medida</th>
                                    <th>categoria</th>
                                    <th>descripcion</th>
                                <th></th> 
                            </tr>
                            </tfoot>
                            <tbody style="text-align: center" > 
                            <tr *ngFor="let producto of productos">
                                <td >{{producto.nombre_producto}}</td>
                                <td >{{producto.cantidad}}</td>
                                <td >{{producto.abreviacion}}</td>
                                <td >{{producto.nombre}}</td>
                                <td >{{producto.descripcion}}
                                <td  style="width: 80px;">
                                    <div>
                                        <a style="color: white" class="btn btn-sm btn-info " (click)="confirmaractualizar(producto.id)"><i class="fa fa-edit"></i></a>                                            
                                        <a style="color: white" class="btn btn-sm btn-danger "(click)="borraralerta(producto.id)" ><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>     
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="modificarproducto!=null">
    <div class="col-lg-12">
        <div  class="card card-outline-primary">
            <div class="card-body">               
                <form #formProductoeditar2="ngForm"  action="#">
        <!--<div   *ngIf="!formProducto.form.valid &&  nombre.touched &&  Descripcion.touched " class="alert alert-danger">
            <span style="color:black">rellenar todos los campo requeridos(<label style="color: red" >*</label>)</span>
        </div>-->
                <div class="form-horizonta">
                    <div class="col-lg-12 row">
                        <div class="col-lg-6">
                            <div class="row p-t-20">

                                <div class="col-sm-12" style="text-align: center" >
                                    <img  class="productos_imagen"   [src]="imageedit" > 
                                </div>
                                <div  class="col-sm-4">
                                    <label class="control-label">Imagen</label>    
                                </div>
                                <div  class="col-sm-8">
                                    <input type="file" id="imageeditar" (change)="editarimagen($event.target.files,$event)" name="image" class="form-control" accept="image/jpg && image/png" required />
                                </div>
                                <br>
                                <br>
                                <br>
                                <div class="col-sm-4">
                                    <label class="control-label">Nombre:</label>    
                                </div>
                                <div class="col-sm-8">
                                    <div class="inner-addon left-addon">
                                        <i *ngIf="nombre.valid" style="color: green" class="fa fa-check"></i>
                                        <i *ngIf="!nombre.valid && nombre.touched" style="color: red" class="fa fa-times"></i>
                                        <input type="text"  id="firstName" #nombre="ngModel" name="nombre" [(ngModel)]="editproducto.nombre_producto"  class="form-control" placeholder="escriba el nombre del producto" required/>
                                    </div>  
                                </div>
                                <br>
                                <br>
                                <br>
                                <div *ngIf="llamarunidad==null" class="col-sm-4">
                                    <label class="control-label">Unidad de media</label>
                                </div>
                                <div *ngIf="llamarunidad==null" class="col-sm-5">
                                    <div class="inner-addon left-addon">
                                        <i *ngIf="unidadmedida.valid" style="color: green" class="fa fa-check"></i>
                                        <i *ngIf="!unidadmedida.valid && unidadmedida.touched" style="color: red" class="fa fa-times"></i>
                                        <select id="unidadselect" #unidadmedida="ngModel" (change)="aparecerunidad(editproducto.id_unidad)" name="unidadmedida" [(ngModel)]="editproducto.id_unidad" class="form-control custom-select " data-placeholder="Choose a Category" tabindex="0" SelectedIndex="-1" required>
                                                <option disabled="disabled">--seleccione la unidad</option>    
                                            <option *ngFor="let uni of unidadmodelo" value="{{uni.id}}"><b>{{uni.unidad}}</b></option>
                                        </select>
                                    </div> 
                                </div>  
                                <div *ngIf="llamarunidad==null" style="text-align: right;" class="col-sm-3">
                                    <a (click)="llamarunid(1,null)" class="btn btn-success  btn-flat btn-addon btn-sm"> <i class="fa fa-plus"></i></a>
                                    <a *ngIf="unidad!=null" (click)="llamarunid(editproducto.id_unidad,2)" class="btn btn-primary  btn-flat btn-addon btn-sm"> <i class="fa fa-edit"></i></a>
                                </div>
                                <div *ngIf="llamarunidad!=null && aparecereditunidad==null" class="col-sm-12" >
                                    <div class="form-group">
                                        <unidades></unidades>
                                    </div>
                                </div>
                                <div *ngIf="aparecereditunidad==2" class="col-sm-12" >
                                        <unidades-edit></unidades-edit>
                                </div> 
                                <br>
                                <br>
                                <br>
                                <div *ngIf="llamarunidad==null"class="col-sm-4">
                                    <label class="control-label">cantidad</label>
                                </div>
                                <div *ngIf="llamarunidad==null" class="col-sm-8">
                                    <div class="inner-addon left-addon">
                                        <i *ngIf="cantidadunitaria.valid" style="color: green" class="fa fa-check"></i>
                                        <i *ngIf="!cantidadunitaria.valid && cantidadunitaria.touched" style="color: red" class="fa fa-times"></i>
                                        <input  id="cantida"  type="text" #cantidadunitaria="ngModel" name="cantidadunitaria" [(ngModel)]="editproducto.cantidad"  class="form-control"  required pattern="[0-9]+"/>                            
                                    </div> 
                                </div> 
                                
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row p-t-20">
                                <div class="col-sm-4">
                                    <label class="control-label">Descripción</label>
                                </div>
                                <div class="col-sm-8">
                                    <div class="inner-addon left-addon">
                                        <i *ngIf="Descripcion.valid" style="color: green" class="fa fa-check"></i>
                                        <i *ngIf="!Descripcion.valid && Descripcion.touched" style="color: red" class="fa fa-times"></i>
                                        <input id="describe" type="text" #Descripcion="ngModel" name="Descripcion" [(ngModel)]="editproducto.descripcion" class="form-control" placeholder="escriba una descripcion" required>
                                    </div> 
                                </div>
                                <br>
                                <br>
                                <br>
                                <div *ngIf="llamarcategoria==null" class="col-sm-4">
                                    <label class="control-label">Categoria:</label>    
                                </div>
                                <div *ngIf="llamarcategoria==null" class="col-sm-4">
                                    <div class="inner-addon left-addon">
                                        <i *ngIf="cates.valid" style="color: green" class="fa fa-check"></i>
                                        <i *ngIf="!cates.valid && cates.touched" style="color: red" class="fa fa-times"></i>
                                        <select id="categoriaselect" #cates="ngModel" (change)="aparecermodificarcategoria(editproducto.id_categoria)" name="cates" [(ngModel)]="editproducto.id_categoria" class="form-control custom-select" required>
                                                <option   disabled="disabled">--seleccione la categoria</option>    
                                            <option *ngFor="let categoria of cate" value="{{categoria.id}}"><b>{{categoria.nombre}}</b></option>
                                        </select>
                                    </div>  
                                </div>
                                <div *ngIf="llamarcategoria==null" style="text-align: left;" class="col-sm-4" >
                                    <a (click)="llamarcate(1,null)" class="btn btn-success btn-flat btn-addon btn-sm ">  <i class="fa fa-plus"></i></a>
                                    <a *ngIf="modificarcategoria!=null" (click)="llamarcate(editproducto.id_categoria,2)" class="btn btn-primary btn-flat btn-addon btn-sm "> <i class="fa fa-edit"></i></a>   
                                </div>
                                <div *ngIf="llamarcategoria!=null && aparecereditcate==null" class="col-sm-12" >
                                    <categoria></categoria>
                                </div> 
                                <div *ngIf="aparecereditcate==2" class="col-sm-12" >
                                        <categoria-edit></categoria-edit>
                                </div>                               
                                <br>
                                <br>
                                <br>
                                <div  class="col-sm-4">
                                    <label class="control-label">IGV:</label>    
                                </div>
                                <div class="col-sm-8">
                                     <div class="inner-addon left-addon">
                                        <i *ngIf="igv2.valid" style="color: green" class="fa fa-check"></i>
                                        <i *ngIf="!igv2.valid && igv2.touched" style="color: red" class="fa fa-times"></i>
                                        <select  id="igvselect" #igv2="ngModel" (change)="ediciondeligv(editigv.id_impuesto)" name="igv2" [(ngModel)]="editigv.id_impuesto" class="form-control custom-select" required>
                                                <option  disabled="disabled">--selecciona el tipo de igv</option>    
                                            <option  *ngFor="let ig of impuestoigv" value="{{ig.id}}"><b>{{ig.nombre}}</b></option>
                                        </select>
                                    </div>  
                                </div>
                                <br>
                                <br>
                                <br>
                                <div   class="col-sm-12">
                                    <div style="text-align: right" class="col-sm-12">
                                        <table style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th  style="text-align: center">
                                                        Nombre
                                                        <hr>
                                                    </th>
                                                    <th  style="text-align: center">porcentage<hr></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let idotro of impuestroeditotro;let $index=index">
                                                    <td style="width : 50px;">
                                                        <div *ngIf="idotro.id!=null"><button (click)="agregardetalleimpuestootro($index,idotro.id)" class="btn btn-info btn-flat btn-addon btn-sm m-b-5 m-l-5"><i class="fa fa-circle"></i></button></div>
                                                        <div *ngIf="idotro.id==null" ><button (click)="quitardetalleimpuestootro($index)" class="btn btn-success btn-flat btn-addon btn-sm m-b-5 m-l-5"><i class="fa fa-check-circle"></i></button></div>
                                                    </td>
                                                    <td  style="text-align: center"><a >{{idotro.nombre}}</a></td>
                                                    <td  style="text-align: center"><a >{{idotro.porcentaje}}%</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div> 
                    <br>
                    <br>  
                    <div style="text-align: center" >
                        <button (click)="insertareditimage(editproducto.id)" [disabled]="!formProductoeditar2.form.valid || (aparecereditunidad==null && llamarunidad!=null) || (llamarcategoria!=null && aparecereditcate==null) || aparecereditunidad==2 || aparecereditcate==2"  class="btn btn-info"> <i class="fa fa-cloud-upload"></i> Actualizar</button>
                        <button (click)="cancelar()" class="btn btn-success"> <i class="fa fa-ban"></i> Cancelar</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
