<div class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
          <ul id="sidebarnav">
              <li class="nav-devider"></li>
              <li class="nav-label">Home</li>
              <li> <a [routerLink]="['']" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Inicio</span></a>
              </li>
              <li class="nav-label">Mantenimientos</li>
              <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-columns"></i><span class="hide-menu">Layout</span></a>
                  <ul aria-expanded="false" class="collapse">
                      <li><a href="layout-blank.html">Blank</a></li>
                      <li><a href="layout-boxed.html">Boxed</a></li>
                      <li><a href="layout-fix-header.html">Fix Header</a></li>
                      <li><a href="layout-fix-sidebar.html">Fix Sidebar</a></li>
                  </ul>
              </li>
              <li class="nav-label">Apps &amp; Charts</li>
              <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Mailbox</span></a>
                  <ul aria-expanded="false" class="collapse">
                      <li><a href="email-compose.html">Compose</a></li>
                      <li><a href="email-read.html">Read</a></li>
                      <li><a href="email-inbox.html">Inbox</a></li>
                  </ul>
              </li>
              <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Charts</span></a>
                  <ul aria-expanded="false" class="collapse">
                      <li><a href="chart-flot.html">Flot</a></li>
                      <li><a href="chart-morris.html">Morris</a></li>
                      <li><a href="chart-chartjs.html">ChartJs</a></li>
                      <li><a href="chart-chartist.html">Chartist </a></li>
                      <li><a href="chart-amchart.html">AmChart</a></li>
                      <li><a href="chart-echart.html">EChart</a></li>
                      <li><a href="chart-sparkline.html">Sparkline</a></li>
                      <li><a href="chart-peity.html">Peity</a></li>
                  </ul>
              </li>
              <li> <a [routerLink]="['profile']" aria-expanded="false"><i class="fa fa-user"></i><span class="hide-menu">Profile</span></a></li>
              <li class="nav-label">Features</li>
              <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Ui Elements <span class="label label-rouded label-danger pull-right">12</span></span></a>
                  <ul aria-expanded="false" class="collapse">
                      <li><a href="ui-alert.html">Alert</a></li>
                      <li><a href="ui-button.html">Button</a></li>
                      <li><a href="ui-dropdown.html">Dropdown</a></li>
                      <li><a href="ui-progressbar.html">Progressbar</a></li>
                      <li><a href="ui-tab.html">Tab</a></li>
                      <li><a href="ui-typography.html">Typography</a></li>
                      <li><a href="uc-calender.html">Calender</a></li>
                      <li><a href="uc-datamap.html">Datamap</a></li>
                      <li><a href="uc-nestedable.html">Nestedable</a></li>
                      <li><a href="uc-sweetalert.html">Sweetalert</a></li>
                      <li><a href="uc-toastr.html">Toastr</a></li>
                      <li><a href="uc-weather.html">Weather</a></li>
                  </ul>
              </li>
              <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-wpforms"></i><span class="hide-menu">Forms</span></a>
                  <ul aria-expanded="false" class="collapse">
                      <li><a href="form-basic.html">Basic Forms</a></li>
                      <li><a href="form-layout.html">Form Layout</a></li>
                      <li><a href="form-validation.html">Form Validation</a></li>
                      <li><a href="form-editor.html">Editor</a></li>
                      <li><a href="form-dropzone.html">Dropzone</a></li>
                  </ul>
              </li>
              <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Tables</span></a>
                  <ul aria-expanded="false" class="collapse">
                      <li><a href="table-bootstrap.html">Basic Tables</a></li>
                      <li><a href="table-datatable.html">Data Tables</a></li>
                  </ul>
              </li>
              <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-th-large"></i><span class="hide-menu">Widgets</span></a>
                  <ul aria-expanded="false" class="collapse">
                      <li><a href="widget.html">Widgets</a></li>
                  </ul>
              </li>
          </ul>
      </nav>
      <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</div>