<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">{{title}}</h3>
    </div>
    <div class="col-md-7 align-self-left">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <button type="button" (click)="generatePDF()" class="btn btn-secondary btn-rounded btn-sm m-b-10 m-l-5">
                    <i class="fa fa-arrow-circle-down"></i> PDF
                </button>
            </li>
            <li class="breadcrumb-item">
                <button type="button" class="btn btn-info btn-rounded btn-sm m-b-10 m-l-5"(click)="listar()">Lista</button>
            </li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="container">
                        <br>
                        <div id="formConfirmation">
                            <div class="pdf-page size-a4">
                                <div class="container theme-showcase" role="main">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="pdf-header">
                                                <img src="{{imagen_empresa}}">
                                                <span>{{nombre_empresa}}</span>
                                            </div>
                                            <div class="pdf-footer">
                                                {{nombre_empresa}} - {{direccion_empresa}} - {{telefono1_empresa}} - {{telefono2_empresa}} - {{email_empresa}} - {{web_empresa}}
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="pdf-empresa">
                                                    <p class="empresa">{{nombre_empresa}}</p>
                                                    <p class="direccion">{{direccion_empresa}} <br> 
                                                        {{telefono1_empresa}} - {{telefono2_empresa}}<br>
                                                        {{email_empresa}} - {{web_empresa}}
                                                    </p>
                                                </div>
                                                <div class="pdf-ruc">
                                                    <p class="ruc"> RUC : {{ruc_empresa}}</p>
                                                    <p class="fac">ORDEN PEDIDO</p>
                                                </div>
                                                <div class="pdf-datos">
                                                    <p><strong>RUC:</strong>{{ ruc_proveedor}} <br> 
                                                    <strong>Señor(es): </strong>{{nombre_proveedor}} <br> 
                                                    <strong>Dirección: </strong>{{direccion_proveedor}} <br>
                                                    <strong>Telefono Movil:</strong> {{telefono_proveedor}} <br>
                                                        <strong>Telefono Fijo :</strong> {{telefono2_proveedor}}
                                                    </p>
                                                </div>
                                                <div class="pdf-fecha">
                                                    <p><strong>Fecha Entrega:</strong> {{fecha_entrega}} <br>
                                                    <strong>Direcion Entrega: </strong>{{direccion_almacen}} <br>
                                                    <strong>Terminos Entrega: </strong>{{terminos}}</p>
                                                </div>
                                            </div>
                                            <div class="pdf-body">
                                                <table class="table table-striped" style="text-align:center;">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Producto</th>
                                                            <th>Cantidad</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let orden of detalleOrde; let $index=index" style="text-align:center;">
                                                            <th>{{$index + 1 }}</th>
                                                            <th>{{orden.nombre_producto}}</th>
                                                            <th>{{orden.cantidad}}</th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <br>
                                                <div class="autorizado">
                                                    
                                                        <p>Elaborado por: <strong>{{nombre_usuario}}</strong> Autorizado por: ____________ Recibido Por: ____________ </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>