<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary"><i class="fa fa-list-alt fa-2x"></i> <strong> {{title}}</strong></h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li *ngIf="veragregar==true" class="breadcrumb-item"><button class="btn btn-info" (click)="agregar()"><i class="fa fa-plus"></i>Agregar</button></li>
        </ol>
    </div>
</div>
<div *ngIf="mostrarformedit==null" class="container">
    <div class="container fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h3 style="text-align: center"><strong><i class="fa fa-shopping-cart"></i> Pedidos</strong></h3>
                        <br>
                        <br>
                        <strong>Exportar Información</strong>
                        <div class="table-responsive m-t-4">
                            <table id="pedido" class="table table-bordered table-striped" cell="0" cellspancing="0">
                                <thead>
                                    <tr>
                                        <th>numero de pedido</th>
                                        <th>Proveedor</th>
                                        <th>Almacen</th>
                                        <th style="width: 240px;">fecha</th>
                                        <th>fecha de entrega</th>
                                        <th style="width: 99px"></th>
                                    </tr>
                                </thead>
                                <tbody  >
                                    <tr  *ngFor="let pedido of mostrapedido,let $index=index" >
                                        <td>pedido n° <strong>{{pedido.code}}</strong></td>
                                        <td>{{pedido.nombre_proveedor}}</td>
                                        <td>{{pedido.nombre}}</td>
                                        <td style="width: 240px;">{{pedido.created_at}}</td>
                                        <td>{{pedido.fecha_estimada_entrega}}</td>
                                        <th style="width: 80px;text-align: center">
                                            <button class="btn btn-sm btn-success" (click)="ReciboPDF(pedido.id)"><i class="fa fa-eye"></i></button>
                                            <button class="btn btn-sm btn-info " (click)="mostrardetalle(pedido.id,$index,pedido.code)" ><i class="fa fa-edit"></i></button>
                                            <button class="btn btn-sm btn-danger " (click)="alertaeliminarpedido(pedido.id)" ><i class="fa fa-trash"></i></button>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="mostrarformedit!=null" class="container">
    <div class="container fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h3 style="text-align: center"><strong><i class="fa fa-search-plus"></i>Detalle de Pedido</strong></h3>
                        <h3 style="text-align: center"><strong>{{code}}</strong></h3>
                        <br>
                        <br>
                        <div class="form-horizonta">
                            <div class="col-lg-12 row">
                                <div class="col-lg-6">
                                    <div class="row p-t-20">
                                        <div class="col-sm-12">
                                            <label class="control-label">proveedores  : <strong>{{editarpedido.nombre_proveedor}}</strong></label>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <div *ngIf="mostareditar==null" class="col-sm-4">
                                            <label class="control-label">Almacenes:</label>    
                                        </div>
                                        <div  *ngIf="mostareditar==null" class="col-sm-8">
                                            <select #almacen="ngModel" name="almacen" [(ngModel)]="editarpedido.id_almacen" class="form-control custom-select" disabled>
                                                <option disabled="disabled">--seleccione el almacen</option>    
                                                <option *ngFor="let almacen of almacenes" value="{{almacen.id}}"><b>{{almacen.nombre}}</b></option>
                                            </select> 
                                        </div>
                                        <div *ngIf="mostareditar!=null" class="col-sm-4">
                                            <label class="control-label">Almacenes:</label>
                                        </div>
                                        <div *ngIf="mostareditar!=null" class="col-sm-8">
                                            <div class="inner-addon left-addon">
                                                <i *ngIf="almacenes" style="color: green" class="fa fa-check"></i>
                                                <i *ngIf="!almacenes" style="color: red" class="fa fa-times"></i>
                                                <select #almacen="ngModel" name="almacen" [(ngModel)]="editarpedido.id_almacen" class="form-control custom-select" required>
                                                    <option disabled="disabled">--seleccione el almacen</option>    
                                                    <option *ngFor="let almacen of almacenes" value="{{almacen.id}}"><b>{{almacen.nombre}}</b></option>
                                                </select>
                                            </div>  
                                        </div>  
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row p-t-20">
                                        <div style="text-align: right" class="col-sm-12">
                                            <label class="control-label">Fecha de Pedido  : <strong>{{editarpedido.created_at}}</strong></label>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <div *ngIf="mostareditar==null" class="col-sm-4">
                                            <label class="control-label">Fecha de Entrega:</label>    
                                        </div>
                                        <div  *ngIf="mostareditar==null" class="col-sm-8">
                                            <input type="date" min="{{fecha2}}" #fecha="ngModel" name="fecha" [(ngModel)]="editarpedido.fecha_estimada_entrega"  class="form-control" disabled/>
                                        </div>
                                        <div *ngIf="mostareditar!=null" class="col-sm-4">
                                            <label class="control-label">Fecha de Entrega:</label>
                                        </div>
                                        <div *ngIf="mostareditar!=null" class="col-sm-8">
                                            <div class="inner-addon left-addon">
                                                <i *ngIf="fechatrue==true" style="color: green" class="fa fa-check"></i>
                                                <i *ngIf="fechatrue==false" style="color: red" class="fa fa-times"></i>
                                                <input type="date" min="{{fecha2}}" (change)="validarfecha(editarpedido.fecha_estimada_entrega)" #fecha="ngModel" name="fecha" [(ngModel)]="editarpedido.fecha_estimada_entrega"  class="form-control" required/>
                                            </div>  
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <div  class="col-sm-4">
                                            <label class="control-label">Terminos y condiciones</label>
                                        </div>
                                        <div  class="col-sm-8">
                                            <div class="inner-addon left-addon">
                                                <i *ngIf="termino.valid" style="color: green" class="fa fa-check"></i>
                                                <i *ngIf="!termino.valid && termino.touched " style="color: red" class="fa fa-times"></i>
                                                <input type="text" #termino="ngModel" name="termino" [(ngModel)]="editarpedido.terminos"  class="form-control"  required/>
                                            </div>  
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div  *ngIf="mostareditar==null" style="text-align: center" >
                            <button (click)="activarmodificar()"  class="btn btn-info"> <i class="fa fa-edit"></i> Modificar</button>
                            <button (click)="volvertablapedido()" class="btn btn-success"> <i class="fa fa-arrow-circle-o-up"></i> Volver</button>
                        </div>
                        <div  *ngIf="mostareditar!=null" style="text-align: center" >
                            <button (click)="guardarpedido()" [disabled]="fechatrue==false" class="btn btn-info"> <i class="fa fa-save"></i> Guardar</button>
                            <button (click)="cancelarmodificar()" class="btn btn-success"> <i class="fa fa-window-close"></i> Cancelar</button>
                            <button (click)="volvertablapedido()" class="btn btn-success"> <i class="fa fa-arrow-circle-o-up"></i> Volver</button>
                        </div>
                        <div class="table-responsive m-t-4">
                            <table id="detalle" class="table table-bordered table-striped" cell="0" cellspancing="0">
                                <thead>
                                    <tr style="text-align: center">
                                        <th style="width: 200px;"></th>
                                        <th>producto</th>
                                        <th>cantidad</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody style="text-align: center" >
                                    <tr *ngFor="let detalle of mostrapedidodetalle,let $index=index" >
                                        <td style="width: 200px;">producto n° <strong>{{$index+1}}</strong></td>
                                        <td>{{detalle.nombre_producto}}</td>
                                        <td>{{detalle.cantidad}}</td>
                                        <td >
                                            <a style="color: white" class="btn btn-sm btn-danger " (click)="alertaeliminardetalle(detalle.id)" ><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>