<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">{{titulo}}</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><button class="btn btn-info" (click)="volver()"><i class="fa fa-arrow-circle-left"></i> volver</button></li>
        </ol>
    </div>
</div>
<form #formOrdenPedido="ngForm" (ngSubmit)="guardartodo()" >
    <div class="container">
        <div class="fluid">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title">
                        <label class="control-label" >
                            <i class="fa fa-archive"></i>
                            Registro de {{titulo}}
                        </label>
                    </div>
                    <ul class="nav nav-tabs profile-tab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#comprobante" role="tab">Detalle</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#producto" role="tab">Productos</a> </li>
                    </ul>
                    <br>
                    <div class="tab-content">
                        <div class="tab-pane active" id="comprobante" role="tabpanel">
                            <div class="card-body">
                                <div class="form-horizonta">
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-6">
                                            <div class="row p-t-20">
                                                <div class="col-sm-4">
                                                    <label class="control-label">Almacenes:</label>    
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="inner-addon left-addon">
                                                        <i *ngIf="listar.valid==seleccionado && almacenes" style="color: green" class="fa fa-check"></i>
                                                        <i *ngIf="listar.valid!=seleccionado && listar.touched" style="color: red" class="fa fa-times"></i>
                                                        <select #listar="ngModel" (change)="almacenvalidacion(agregarOrdenPedido.id_almacen)" id="ordenalmacemn" name="listar" [(ngModel)]="agregarOrdenPedido.id_almacen" class="form-control custom-select" required pattern="[0-9]+">
                                                            <option  disabled="disabled" >--seleccione el almacen</option>  
                                                            <option *ngFor="let almacen of almacenes" [ngValue]="almacen.id"><b>{{almacen.nombre}}</b></option>
                                                        </select>
                                                    </div> 
                                                </div>
                                                <br>
                                                <br>
                                                <br>
                                                <div class="col-sm-4">
                                                    <label class="control-label">proveedores</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="inner-addon left-addon">
                                                        <i *ngIf="proveedor.valid" style="color: green" class="fa fa-check"></i>
                                                        <i *ngIf="!proveedor.valid && proveedor.touched" style="color: red" class="fa fa-times"></i>
                                                        <select #proveedor="ngModel" (change)="proveedorvalidacion()"  name="proveedor" [(ngModel)]="agregarOrdenPedido.id_proveedor" class="form-control custom-select" required>
                                                            <option disabled="disabled">--seleccione el proveedor</option>    
                                                            <option *ngFor="let provedor of provedores" value="{{provedor.id}}"><b>{{provedor.nombre_proveedor}}</b></option>
                                                        </select>
                                                    </div>  
                                                </div>  
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row p-t-20">
                                                <div class="col-sm-4">
                                                    <label class="control-label">Fecha de Entrega</label>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="inner-addon left-addon">
                                                        <i *ngIf="fechavalidad==true" style="color: green" class="fa fa-check"></i>
                                                        <i *ngIf="fechavalidad!=true " style="color: red" class="fa fa-times"></i>
                                                        <input type="date" min="{{fecha2}}" (change)="fechavalidacion(agregarOrdenPedido.fecha_estimada_entrega)" #fecha="ngModel" name="fecha" [(ngModel)]="agregarOrdenPedido.fecha_estimada_entrega"  class="form-control custom-select"  required/>
                                                    </div>  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="producto" role="tabpanel">
                            <div class="card-body">
                                <div class="col-lg-12">
                                    <strong>Lista de productos</strong>
                                    <div class="table-responsive m-t-40">
                                        <div *ngIf="!productos">
                                            cargando listado de productos....
                                        </div>
                                        <div *ngIf="productos">
                                            <table id="mytable" class="table table-bordered table-striped"  cellpadding="0" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                    <th></th>
                                                    <th>producto</th>
                                                    <th>cantidad de medida</th>
                                                    <th>unidad de medida</th>
                                                    <th>categoria</th>
                                                    <th>descripcion</th>
                                                    </tr>
                                                </thead>
                                                <tfoot>
                                                    <tr>
                                                    <th></th>
                                                    <th>producto</th>
                                                    <th>cantidad de medida</th>
                                                    <th>unidad de medida</th>
                                                    <th>categoria</th>
                                                    <th>descripcion</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>  
                                                <tr *ngFor="let producto of productos; let $indice=index">
                                                    <td>
                                                        <div *ngIf="producto.id!=quitar"><button (click)="addpedido(producto.nombre_producto,$indice,producto.id)" class="btn btn-info btn-flat btn-addon btn-sm m-b-5 m-l-5"><i class="fa fa-cloud-download"></i></button></div>
                                                        <div *ngIf="producto.id==quitar"><button (click)="deletepedido($indice)" class="btn btn-success btn-flat btn-addon btn-sm m-b-5 m-l-5"><i class="fa fa-check"></i></button></div>
                                                    </td>
                                                    <td >{{producto.nombre_producto}} </td>
                                                    <td style="text-align: center">{{producto.cantidad}}</td>
                                                    <td style="text-align: center"><strong>{{producto.abreviacion}}</strong></td>
                                                    <td style="text-align: center">{{producto.nombre}}</td>
                                                    <td style="text-align: center">{{producto.descripcion}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div style="text-align: center" class="card-title">
                            <label class="control-label">
                                <i class="fa fa-shopping-cart"></i>
                                Registro de Pedidos
                            </label>
                        </div>
                        <div style="text-align: center">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th></th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr (click)="vercuadrotexto($index)" *ngFor="let pedido of pedidos; let $index=index">
                                        <td>producto n°{{$index + 1}}</td>
                                        <td>{{pedido.id_producto}}</td>
                                        <td *ngIf="texto!=$index">{{pedido.cantidad}}</td>
                                        <td *ngIf="texto==$index">
                                            <div style="margin-right: 0px;">
                                                <div style="padding-right: 0px;">
                                                    <input type="number" min="1" id="pruebacantidad" #cantidad="ngModel" name="cantidad" [(ngModel)]="pedido.cantidad"  class="form-control" />
                                                </div>
                                            </div>
                                        </td>
                                        <div *ngIf="editar!=$index">                                         
                                            <a class="btn btn-sm btn-danger " (click)="exitCompra($index,pedido.id)" ><i class="fa fa-trash"></i></a>            
                                            
                                        </div>
                                    </tr>
                                </tbody>
                            </table> 
                            <br>
                            <div *ngIf="mostrarguardar>=1 && almacenvalid==true && provedorvalid==true && fechavalidad==true" style="text-align:right;">
                                <button type="submit"   class="btn btn-info"> <i class="fa fa-check"></i> Guardar</button>
                                <button  class="btn btn-danger" (click)="limpiar()"><i class="fa fa-trash"></i>Limpiar</button>
                            </div>       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
