<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">{{titulo}}</h3>
    </div>
</div>
<div [hidden]="vercajas!=null || verventas!=null" class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-primary">
                <div class="card-body">
                    <div class="form-body">
                        <div  class="container-fluid">
                            <div class="table-responsive m-t-40">
                                <div *ngIf="!sucursales">
                                    cargando listado de sucursales....
                                </div>
                                <div *ngIf="sucursales">
                                <table  style="width: 100%;text-align: center">
                                    <thead>
                                        <tr>
                                            <th>Nombre<hr style="    background: #68a5da;"></th>
                                            <th>Direccion<hr style="margin-left: -10px;background: #68a5da;"></th>
                                            <th>Telefono<hr style="margin-left: -10px;background: #68a5da;"></th>
                                            <th style="width: 170px;"><br><hr style="margin-left: -10px;background: #68a5da;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>  
                                        <tr  *ngFor="let suc of sucursales; let $index=index">
                                            <td style="text-align: center">{{suc.nombre_sucursal}}</td>
                                            <td style="text-align: center"><strong>{{suc.direccion}}</strong></td>
                                            <td style="text-align: center">{{suc.telefono}}</td>
                                            <td style="text-align: center"> 
                                                <button style="font-size: 8px" (click)="traerventastotales(suc.id)" class="btn btn-sm btn-success" title="ver ventas totales" >
                                                    <i class="fa fa-shopping-bag">ver ventas</i> 
                                                </button>
                                                <button style="font-size: 8px" (click)="getcajas(suc.id)" class="btn btn-sm btn-info" title="mostrar cajas" >
                                                    <i class="fa fa-dropbox">mostrar cajas</i> 
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div [hidden]="vercajas==null" class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-primary">
                <div class="card-body">
                    <div class="form-body">
                        <div  class="card-body">
                            <div class="form-horizonta">
                                <div class="col-lg-12 row">
                                    <div class="col-lg-12" >
                                        <div class="col-sm-12" style="text-align: center;margin-top: 30px">
                                            <label for="card-title">
                                                <i class="fa fa-money"></i>
                                                 <strong>Resumen de cajas</strong>   
                                            </label>
                                        </div>
                                        <div class="row p-t-1" style="text-align: center;" >
                                            <div class="col-sm-4" *ngFor="let caj of cajas; let $index=index">
                                                <div *ngIf="caj.abierta==true" style="text-align: center;border-radius: 10px;border:solid 1px green;margin-top: 20px">
                                                    <div style="text-align: right;margin-right: 5px">
                                                        <p style="color: green">Abierto</p>
                                                    </div>
                                                    <div style="text-align: center">
                                                        <h2 style="color: #0781ff;
                                                        font: 150% sans-serif; ">{{caj.nombre}}</h2>
                                                    </div>
                                                    <div style="text-align: right">
                                                        <p style="font-size: 10px;color:#007bff">Fecha de Apertura:</p>
                                                        <h5 style="margin-top: -10px;    font-size: 13px;">{{caj.created_at}}</h5>
                                                    </div>
                                                    <div style="text-align: left;margin-left: 20px;">
                                                        <div class="row p-t-1">
                                                            <strong style="font-size: 10px;color:#007bff" >Monto Apertura (S/.) </strong>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <h3> {{caj.monto_apertura}}</h3>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                        <div *ngIf="caj.monto_actual!=null"  class="row p-t-1">
                                                            <strong style="font-size: 10px;color:#007bff" >Ventas (S/.)</strong>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <h3> {{caj.monto_actual}}</h3>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                        <div class="row p-t-1">
                                                            <strong style="font-size: 10px;color:#007bff" >Monto de caja actual(S/.)</strong>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <h3> {{caj.monto_actual+caj.monto_apertura}}</h3>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                    </div>
                                                    <div style="text-align: right">
                                                        <button type="button" class="btn btn-link"  (click)="traerdetallecaja(caj.id)"><i class="fa fa-refresh"></i> Atualizar</button>
                                                    </div>
                                                    <div style="text-align: right">
                                                            <button type="button" class="btn btn-link"  (click)="traerventas(caj,$index)"><i class="fa fa-shopping-bag"> Ventas</i> </button>
                                                    </div>
                                                </div>
                                                
                                                <div *ngIf="caj.abierta==false" style="text-align: center;border-radius: 10px;border:solid 1px red;margin-top: 20px">
                                                    <div style="text-align: right;margin-right: 5px">
                                                        <p style="color: red">Cerrado</p>
                                                    </div>
                                                    <div style="text-align: center">
                                                        <h2 style="color: #0781ff;
                                                        font: 150% sans-serif; ">{{caj.nombre}}</h2>
                                                    </div>
                                                    <div style="text-align: right">
                                                        <p style="font-size: 10px;color:#007bff">Fecha de Apertura:</p>
                                                        <h5 style="margin-top: -10px;    font-size: 13px;">{{caj.created_at}}</h5>
                                                    </div>
                                                    <div style="text-align: left;margin-left: 20px;">
                                                        <div class="row p-t-1">
                                                            <strong style="font-size: 10px;color:#007bff" >Monto Apertura (S/.) </strong>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <h3> {{caj.monto_apertura}}</h3>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                        <div *ngIf="caj.monto_actual!=null" class="row p-t-1">
                                                            <strong style="font-size: 10px;color:#007bff" >Ventas (S/.)</strong>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <h3> {{caj.monto_actual}}</h3>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                        <div class="row p-t-1">
                                                            <strong style="font-size: 10px;color:#007bff" >Monto de caja actual(S/.)</strong>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <h3> {{caj.monto_cierre_efectivo}}</h3>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                    </div>
                                                    <div style="text-align: right">
                                                        <p style="font-size: 10px;color:#007bff">Fecha de Cierre:</p>
                                                        <h5 style="margin-top: -10px;font-size: 13px;">{{caj.updated_at}}</h5>
                                                        <button type="button" class="btn btn-link"  (click)="traerventas(caj,$index)"><i class="fa fa-shopping-bag"> Ventas</i> </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div [hidden]="verventas==null" class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-primary">
                <div class="card-body">
                    <div class="form-body">
                        <div  class="card-body">
                            <div class="form-horizonta">
                                <div class="col-lg-12 row">
                                    <div class="col-lg-12" >
                                        <div *ngIf="vertodaslasventas==false" class="col-sm-12" style="text-align: center;margin-top: 30px">
                                            <label for="card-title">
                                                <i class="fa fa-dropbox"></i>
                                                <strong>{{getcaja.nombre}}</strong>   
                                            </label>
                                        </div>
                                        <div *ngIf="vertodaslasventas==false" class="row p-t-1" >
                                            <div class="col-sm-6">
                                                <label>Fecha de Apertura: <strong>{{getcaja.created_at}}</strong></label>
                                            </div>
                                            <div *ngIf="getcaja.abierta==true" class="col-sm-6">

                                            </div>
                                            <div *ngIf="getcaja.abierta!=true" class="col-sm-6">
                                                <label>Fecha de Cierre: <strong>{{getcaja.updated_at}}</strong></label>
                                            </div>
                                            <div  class="col-sm-6">
                                                <label>Monto de Apertura: <strong>{{getcaja.monto_apertura}}</strong></label> 
                                            </div>
                                            <div *ngIf="getcaja.abierta!=true" class="col-sm-6">
                                                <label>Monto de Cierre(efectivo): <strong>{{getcaja.monto_cierre_efectivo}}</strong></label> 
                                            </div>
                                            <div  class="col-sm-6">
                                                <label>Monto de ventas: <strong>{{getcaja.monto_actual}}</strong></label> 
                                            </div>
                                            <div *ngIf="getcaja.abierta!=true" class="col-sm-6">
                                                <label>Monto de Cierre(Tarjeta): <strong>{{getcaja.monto_cierre_tarjeta}}</strong></label> 
                                            </div>
                                            <div  class="col-sm-12">
                                                <br>
                                                <br>
                                            </div>
                                        </div>
                                        <div  class="col-sm-12">
                                            <table id="tablaventas" class="table table-bordered table-striped"  cellpadding="0" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>fecha</th>
                                                        <th>Serie de Documento</th>
                                                        <th>Cliente</th>
                                                        <th>Total</th>
                                                        <th>Pago recivido</th>
                                                        <th>Vuelto</th>
                                                        <th style="width: 85px;"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>  
                                                    <tr  *ngFor="let ven of ventas; let $index=index">
                                                        <td style="text-align: center">{{ven.created_at}}</td>
                                                        <td style="text-align: center"><strong>{{ven.serie_venta}}</strong></td>
                                                        <td style="text-align: center">{{ven.nombre}}</td>
                                                        <td style="text-align: center">{{ven.total | number : '1.2-2' }}</td>
                                                        <td style="text-align: center">{{ven.pago_tarjeta+ven.pago_efectivo | number : '1.2-2'}}</td>
                                                        <td *ngIf="(ven.pago_tarjeta+ven.pago_efectivo)-ven.total>=0" style="text-align: center;color: #042ef8">{{(ven.pago_tarjeta+ven.pago_efectivo)-ven.total | number : '1.2-2'}}</td>
                                                        <td *ngIf="(ven.pago_tarjeta+ven.pago_efectivo)-ven.total<0" style="text-align: center;color: red">{{(ven.pago_tarjeta+ven.pago_efectivo)-ven.total | number : '1.2-2'}}</td>
                                                        <td style="text-align: center"> 
                                                            <button (click)="mostrardetalleventas(ven)" class="btn btn-sm btn-success" title="ver detalle" >
                                                                <i class="fa fa-list-ul"></i> 
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="col-sm-12 modal">
    <div class="modal-contente" >
        <span (click)="cerrarmodal()" class="close">&times;</span>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-body">
                        <div  class="card-body">
                            <div class="form-horizonta">
                                <div class="col-lg-12 row">
                                    <div class="col-lg-12" >
                                        <div class="row p-t-1" >
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-6" style="text-align: center">
                                                <label>Serie: <strong>{{getventa.serie_venta}}</strong></label>
                                            </div>
                                            <div class="col-sm-3"></div>
                                            <br>
                                            <br>
                                            <div class="col-sm-6">
                                                <label>Cliente: <strong>{{getventa.nombre}}</strong></label>
                                            </div>
                                            <div class="col-sm-6" style="text-align: right">
                                                <label>Fecha de cracion: <strong>{{getventa.created_at}}</strong></label>
                                            </div>
                                        </div>
                                        <br>
                                        <br>  
                                        <table border=1 cellspacing=0 cellpadding=2 bordercolor="black" style="width: 100%;text-align: center">
                                            <thead style="border-bottom: solid 1px #5d94c4;">
                                                <tr >
                                                    <th rowspan="2">nombre</th>
                                                    <th rowspan="2">cantidad</th>
                                                    <th rowspan="2">precio unitario(sin igv)</th>
                                                    <th colspan="3">Impuestos</th>
                                                    <th rowspan="2" style="text-align: center">total</th>
                                                </tr>
                                                <tr>
                                                    <th>IGV </th>
                                                    <th>ISC </th>
                                                    <th style="text-align: center">OTRO </th>
                                                </tr>
                                            </thead>
                                            <tbody>  
                                                <tr  *ngFor="let dventas of detalleventas; let $index=index">
                                                    <td style="text-align: center">{{dventas.nombre_producto}}</td>
                                                    <td style="text-align: center"><strong>{{dventas.cantidad}}</strong></td>
                                                    <td style="text-align: center">{{dventas.precio_unitario | number : '1.2-2' }}</td>
                                                    <td style="text-align: center">{{dventas.id | number : '1.2-2'}}({{dventas.igv}})</td>
                                                    <td style="text-align: center">{{dventas.id_producto | number : '1.2-2'}}({{dventas.isc}})</td>
                                                    <td style="text-align: center">{{dventas.codigo | number : '1.2-2'}}({{dventas.otro}})</td>
                                                    <td style="text-align: center">{{dventas.id_venta}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
