<div  class="main-wrapper">
    <div class="unix-login">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="login-content card">
            <div class="login-form">
                <h4>{{titulo}}</h4>   
                <form #cambiocontra="ngForm" (ngSubmit)="modificar()">
                <div class="form-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">contraseña
                            <label id="rec" *ngIf="!email.valid">*</label>
                            </label>
                            <input  type="password" #email="ngModel" name="email" [(ngModel)]="usuario.password" class="form-control col-md-12" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group has-danger">           
                            <label class="control-label">nueva contraseña                                             
                            <label id="rec" *ngIf="!password.valid">*</label>
                            </label>
                            <input id="pasword" type="password" #password="ngModel" name="password" [(ngModel)]="usuario.nuevo" class="form-control col-md-12" required/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group has-danger">           
                            <label class="control-label">confime la contraseña                                            
                            <label id="rec" *ngIf="!confime.valid">*</label>
                            </label>
                            <a><input  id="confirmar" (keyup)="limitar()" type="password" #confime="ngModel" name="confime" [(ngModel)]="usuario.confirme" class="form-control col-md-12" required/></a>
                        </div>
                    </div>
                </div>
                <div >
                    <button  type="submit" [disabled]="!cambiocontra.form.valid" class="btn btn-primary btn-flat btn-addon ">Modificar <i class="fa fa-edit"></i></button>
                </div>               
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<input list="colores" name="colores" type="text">
<datalist id="colores">
    <option *ngFor="let almacen of almacenes" value="{{almacen.id}}">{{almacen.nombre}}</option>
</datalist>
<hr>
<select name ="name" >
    <option disabled="disabled">--seleccione el almacen</option>    
    <option *ngFor="let almacen of almacenes" value="{{almacen.id}}"><b>{{almacen.nombre}}</b></option>
</select>
<hr>
<div class="container" >
    <div class="input-field col s12">
      <input id="country" type="text" class="validate filter-input" [(ngModel)]=query (keyup)="filter()">
      <label for="country">Country</label>
    </div>
    <div style="margin-left: 16px; margin-bottom: 20px;margin-top: -8px;" class="suggestions" *ngIf="filteredList.length > 0">
        <table style="width: 200px;" border=1>
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of filteredList">
                    <td style="text-align: left" (click)="select(item)"><a >{{item}}</a></td>
                </tr>
            </tbody>
        </table>
        <!--<ul *ngFor="let item of filteredList" >
            <li >
                <a (click)="select(item)">{{item}}</a>
            </li>
        </ul>-->
    </div>
</div> 
<div class="inner-addon left-addon">
    <i style="color: green" class="fa fa-check"></i>
    <i style="color: red" class="fa fa-edit"></i>
    <input type="text" class="form-control" placeholder="Usuario" />
</div> 	