<div  class="main-wrapper">
    <div class="unix-login">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="login-content card">
            <div class="login-form">
                <h4>{{titulo}}</h4>   
                <form #cambiocontra="ngForm" (ngSubmit)="modificar()" >
                <div class="form-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">contraseña
                            <label id="rec" *ngIf="!email.valid">*</label>
                            </label>
                            <input  type="password" #email="ngModel" name="email" [(ngModel)]="usuario.password" class="form-control col-md-12" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group has-danger">           
                            <label class="control-label">nueva contraseña                                             
                            <label id="rec" *ngIf="!password.valid">*</label>
                            </label>
                            <input id="pasword" type="password" #password="ngModel" name="password" [(ngModel)]="usuario.nuevo" class="form-control col-md-12" required/>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group has-danger">           
                            <label class="control-label">confime la contraseña                                            
                            <label id="rec" *ngIf="!confime.valid">*</label>
                            </label>
                            <a><input  id="confirmar" (keyup)="limitar()" type="password" #confime="ngModel" name="confime" [(ngModel)]="usuario.confirme" class="form-control col-md-12" required/></a>
                        </div>
                    </div>
                </div>
                <div >
                    <button  type="submit" [disabled]="!cambiocontra.form.valid" class="btn btn-primary btn-flat btn-addon ">Modificar <i class="fa fa-edit"></i></button>
                </div> 
             
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>