<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">{{titulo}}</h3>
    </div>
</div>
<div *ngIf="cuenta==1 && ap==1 && titulo=='Mantenimiento de Usuarios'" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title">Exportar Información</h4>
                    <div class="table-responsive m-t-20"></div>
                    <div *ngIf="!usuarios">
                        cargando listado de usuarios...
                    </div>
                    <div *ngIf="usuarios">
                        <table id="tablausuarios" class="table table-bordered table-striped"  cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>nombres</th>
                                    <th>direccion</th>
                                    <th>telefono</th>
                                    <th>rol</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>nombres</th>
                                    <th>direccion</th>
                                    <th>telefono</th>
                                    <th>rol</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr *ngFor="let users of usuarios">
                                    <td style=" padding: 0px;width: 75px">
                                        <div style="text-align: center" >
                                            <a style="color: white" class="btn btn-sm btn-primary  " (click)="confirmaractualizar(users.id)"><i class="fa fa-edit"></i></a>                                            
                                            <a style="color: white" class="btn btn-sm btn-danger "(click)="borraralerta(users.id)" ><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                    <td>{{users.name}} {{users.apellidos}}</td>
                                    <td>{{users.direccion}}</td>
                                    <td>{{users.telefono}}</td>
                                    <td>{{users.rol}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form #fordatos="ngForm" >
    <div *ngIf="cuenta==0 && ap==0" class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-primary">
                    <div class="card-body">
                        <div class="form-body">
                            <div class="form-horizonta">
                                <div class="col-lg-12 row">
                                    <div class="col-lg-6">
                                        <div class="row p-t-20">
                                            <div class="col-sm-4">
                                                <label class="control-label">Nombre</label>    
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="inner-addon left-addon">
                                                    <i *ngIf="nombre.valid" style="color: green" class="fa fa-check"></i>
                                                    <i *ngIf="!nombre.valid && nombre.touched" style="color: red" class="fa fa-times"></i>
                                                    <input type="text"  #nombre="ngModel" name="nombre" [(ngModel)]="usuario.name" class="form-control" required>
                                                </div> 
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                            <div  class="col-sm-4">
                                                <label class="control-label">Apellidos</label>    
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="inner-addon left-addon">
                                                    <i *ngIf="apellidos.valid" style="color: green" class="fa fa-check"></i>
                                                    <i *ngIf="!apellidos.valid && apellidos.touched" style="color: red" class="fa fa-times"></i>
                                                    <input type="text"  #apellidos="ngModel" name="apellidos" [(ngModel)]="usuario.apellidos"  class="form-control"required/>
                                                </div> 
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                            <div class="col-sm-4">
                                                <label class="control-label">Dirección</label>    
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="inner-addon left-addon">
                                                    <i *ngIf="direccion.valid" style="color: green" class="fa fa-check"></i>
                                                    <i *ngIf="!direccion.valid && direccion.touched" style="color: red" class="fa fa-times"></i>
                                                    <input type="text" #direccion="ngModel" name="direccion" [(ngModel)]="usuario.direccion" class="form-control" required />
                                                </div> 
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                            <div  class="col-sm-4">
                                                <label class="control-label">Documento</label>    
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="inner-addon left-addon">
                                                    <i *ngIf="documento.valid" style="color: green" class="fa fa-check"></i>
                                                    <i *ngIf="!documento.valid && documento.touched" style="color: red" class="fa fa-times"></i>
                                                    <select #documento="ngModel" name="documento" [(ngModel)]="usuario.id_documento" class="form-control custom-select" data-placeholder="Choose a Category" tabindex="0" SelectedIndex="-1" required>
                                                            <option disabled="disabled" >--seleccione el documento</option>    
                                                        <option *ngFor="let docu of documentos" value="{{docu.id}}"><b>{{docu.documento}}</b></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                            <div  class="col-sm-4">
                                                <label class="control-label">Nacimiento</label>    
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="inner-addon left-addon">
                                                    <i *ngIf="nacimiento.valid" style="color: green" class="fa fa-check"></i>
                                                    <i *ngIf="!nacimiento.valid && nacimiento.touched" style="color: red" class="fa fa-times"></i>
                                                    <input type="date" #nacimiento="ngModel" name="nacimiento" max="{{fecha}}" [(ngModel)]="usuario.nacimiento" class="form-control" required/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row p-t-20">
                                            <div  class="col-sm-4">
                                            </div>
                                            <div class="col-sm-8" style="text-align: center" *ngIf="filesToUpload==null">
                                                <img class="usuarios_imagen"  [src]="image" > 
                                            </div>
                                            <div class="col-sm-8" style="text-align: center" *ngIf="filesToUpload!=null">
                                                <img  class="usuarios_imagen"   [src]="imageUrl" > 
                                            </div>
                                            <div *ngIf="titulo!='Mantenimiento de Usuarios'" class="col-sm-4">
                                                <label class="control-label">Imagen</label>    
                                            </div>
                                            <div *ngIf="titulo=='Mantenimiento de Usuarios'" class="col-sm-4">
                                            </div>
                                            <div *ngIf="titulo!='Mantenimiento de Usuarios'" class="col-sm-8">
                                                <input type="file" id="image" (change)="mostarriname($event.target.files,$event)" name="image" class="form-control" accept="image/jpg && image/png" required />
                                            </div>
                                            <div *ngIf="titulo=='Mantenimiento de Usuarios'" class="col-sm-8">
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                             <div  class="col-sm-4">
                                                <label class="control-label">Documento(número)</label>    
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="inner-addon left-addon">
                                                    <i *ngIf="numero.valid" style="color: green" class="fa fa-check"></i>
                                                    <i *ngIf="!numero.valid && numero.touched" style="color: red" class="fa fa-times"></i>
                                                    <input type="text" #numero="ngModel" name="numero" [(ngModel)]="usuario.numero_documento" class="form-control " required pattern="[0-9]+"/>
                                                </div> 
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                            <div  class="col-sm-4">
                                                <label class="control-label">Telefonó</label>    
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="inner-addon left-addon">
                                                    <i *ngIf="telefono.valid" style="color: green" class="fa fa-check"></i>
                                                    <i *ngIf="!telefono.valid && telefono.touched" style="color: red" class="fa fa-times"></i>
                                                    <input type="text"  #telefono="ngModel" name="telefono" [(ngModel)]="usuario.telefono" class="form-control" required pattern="[0-9]{1}[0-9]{8}">
                                                </div> 
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                            <div style="text-align: right;padding-right: 50px" class="col-sm-12">
                                                <button *ngIf="titulo=='Mantenimiento de Usuarios'" style="margin-right: 10px"  (click)="volvertablausuarios()" [disabled]="!fordatos.form.valid " class="btn btn-success btn-flat btn-addon "><i class="fa fa-arrow-circle-left"> volver atras</i></button>
                                                <button  (click)="alimentarareglodp()" [disabled]="!fordatos.form.valid " class="btn btn-success btn-flat btn-addon ">siguiente <i class="fa fa-arrow-circle-right"></i></button>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>         
</form>
<form #formap="ngForm" >
     <div *ngIf="cuenta==0 && ap!=0"  class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-primary">
                    <div class="card-body">
                        <div class="form-body">
                            <div class="form-horizonta">
                                <div class="col-lg-12 row">
                                    <div class="col-lg-12">
                                        <div class="row p-t-20">
                                            <div  class="col-sm-12" style="text-align: center">
                                                <h3 class="box-title m-t-15">Permisos</h3>    
                                                <hr class="m-t-0 m-b-40">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="row p-t-20">
                                            <div  class="col-sm-2">
                                                <p class="card-title">Permisos predeterminados</p>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="inner-addon left-addon">
                                                    <i *ngIf="rol.valid" style="color: green" class="fa fa-check"></i>
                                                    <i *ngIf="!rol.valid && rol.touched" style="color: red" class="fa fa-times"></i>
                                                    <select #rol="ngModel" name="rol" [(ngModel)]="usuario.rol" class="form-control custom-select" >
                                                        <option disabled="disabled" >--seleccione el rol</option>    
                                                        <option  ><b>Administrador</b></option>
                                                        <option  ><b>Vendedor</b></option>
                                                        <option  ><b>Supervisor</b></option>
                                                        <option  ><b>Encargado de Almacen</b></option>
                                                    </select>
                                                </div>  
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngFor="let enca of encabezados; let $index=index" class="col-lg-4">
                                        <div class="row p-t-20" >
                                            <div  class="col-sm-8" style="text-align: left;margin-top: 12px;">
                                                <label class="control-label"> 
                                                    <i *ngIf="enca.abrir==false" class="fa fa-circle-o"></i>
                                                    <i *ngIf="enca.abrir!=false" class="fa fa-dot-circle-o"></i>
                                                     {{enca.nombre}}
                                                </label>    
                                            </div>
                                            <div *ngIf="enca.estado==false" class="col-sm-2" style="text-align: center;">
                                                <button  type="button" (click)="marcarencabezado($index)" class="btn btn-link"><i class="fa fa-square-o"></i></button>   
                                            </div>
                                            <div *ngIf="enca.estado!=false" class="col-sm-2" style="text-align: center;">
                                                <button  type="button" (click)="desmarcarencabezado($index)" class="btn btn-link"><i class="fa fa-check-square-o"></i></button>   
                                            </div>
                                            <div  *ngIf="enca.abrir==false" class="col-sm-2" style="text-align: center;">
                                                <button  type="button" (click)="abrirencabezado($index)" class="btn btn-link"><i class="fa fa fa-angle-down"></i></button>   
                                            </div>
                                            <div *ngIf="enca.abrir!=false" class="col-sm-2" style="text-align: center;">
                                                <button  type="button" (click)="cerrarencabezado($index)" class="btn btn-link"><i class="fa fa fa-angle-up"></i></button>   
                                            </div>
                                        </div>
                                        <ng-container *ngIf="enca.abrir!=false">
                                            <div *ngFor="let comp of encabezados[$index].componentes; let $index2=index" class="row p-t-20">
                                                <div  class="col-sm-1"></div>
                                                <div  class="col-sm-7" style="text-align: left;">
                                                    <label class="control-label">{{comp.nombre}}</label> 
                                                </div>
                                                <div *ngIf="comp.estado==false" class="col-sm-2" style="text-align: center;">
                                                    <button  type="button" (click)="marcaropcion($index,$index2)" class="btn btn-link"><i class="fa fa-square-o"></i></button>   
                                                </div>
                                                <div *ngIf="comp.estado!=false" class="col-sm-2" style="text-align: center;">
                                                    <button  type="button" (click)="desmarcaropcion($index,$index2)" class="btn btn-link"><i class="fa fa-check-square-o"></i></button>   
                                                </div>
                                                <div  class="col-sm-2"></div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive m-t-40">
                                <p class="card-title">seleccione las sucursales permitidas para el usuario</p>
                                <div *ngIf="!sucursales">
                                    cargando listado de sucursales...
                                </div>
                                <div *ngIf="sucursales">
                                    <table style="text-align: center" id="tablasucursales" class="table table-bordered table-striped"  cellpadding="0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>nombre</th>
                                                <th>telefono</th>
                                                <th>descripcion</th>
                                                <th style="text-align: center">direccion</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>nombre</th>
                                                <th>telefono</th>
                                                <th>descripcion</th>
                                                <th style="text-align: center">direccion</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>  
                                            <tr style="text-align: center" *ngFor="let sucursal of sucursales; let $index=index">
                                                <td style="width : 50px;">
                                                    <div *ngIf="sucursal.id!=null"><button (click)="addsucursal($index,sucursal.id)" class="btn btn-info btn-flat btn-addon btn-sm m-b-5 m-l-5"><i class="fa fa-circle-o"></i></button></div>
                                                    <div *ngIf="sucursal.id==null" ><button (click)="quitarsucursal($index)" class="btn btn-success btn-flat btn-addon btn-sm m-b-5 m-l-5"><i class="fa fa-circle"></i></button></div>
                                                </td>
                                                <td >{{sucursal.nombre_sucursal}}</td>
                                                <td >{{sucursal.telefono}}</td>
                                                <td >{{sucursal.direccion}}</td>
                                                <td style="text-align: center">{{sucursal.descripcion}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div  *ngIf="titulo!='Mantenimiento de Usuarios'" style="text-align: right;padding-right: 50px;">
                                <button style="margin-right: 10px"  (click)="atras()" [disabled]="!fordatos.form.valid " class="btn btn-success btn-flat btn-addon ">
                                    <i class="fa fa-arrow-circle-left"> volver atras</i></button>
                                <button *ngIf="siguiente!=0 && siguientepermisosurl!=0" [disabled]="!formap.form.valid " (click)="alimentararegloap()" class="btn btn-success btn-flat btn-addon ">
                                    siguiente <i class="fa fa-arrow-circle-right"></i></button>
                            </div>

                            <div  *ngIf="titulo=='Mantenimiento de Usuarios'" style="text-align: right;padding-right: 50px;">
                                <button style="margin-right: 10px"  [disabled]="!fordatos.form.valid " (click)="atras()" class="btn btn-success btn-flat btn-addon ">
                                    <i class="fa fa-arrow-circle-left"> volver atras</i></button>
                                <button  *ngIf="siguiente!=0" [disabled]="!formap.form.valid " (click)="guardarcambios()" class="btn btn-primary btn-flat btn-addon ">
                                    guardar <i class="fa fa-edit"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                  
</form>

<form  #formvalidacion="ngForm" (ngSubmit)="isertarimagen()">
    <div  *ngIf="cuenta!=0 && ap==0 && titulo!='Mantenimiento de Usuarios'" class="main-wrapper">
        <div class="unix-login">
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="card">
                        <div class="form-body">
                            <div class="col-md-12">
                                <div class="row p-t-20">
                                    <div class="col-sm-4">
                                        <label class="control-label">Email</label>    
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="inner-addon left-addon">
                                            <i *ngIf="email.valid" style="color: green" class="fa fa-check"></i>
                                            <i *ngIf="!email.valid && email.touched" style="color: red" class="fa fa-times"></i>
                                            <input type="email" id="emailunico"  #email="ngModel" name="email" [(ngModel)]="usuario.email" class="form-control" required>
                                        </div>  
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <div  class="col-sm-4">
                                        <label class="control-label">Contraseña (8 digitos)</label>    
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="inner-addon right-addon">
                                            <i *ngIf="password.valid" style="color: green" class="fa fa-check-circle"></i>
                                            <i *ngIf="!password.valid && password.touched" style="color: red" class="fa fa-times-circle"></i>
                                            <input id="pasword" type="password" #password="ngModel" name="password" [(ngModel)]="usuario.password" 
                                            class="form-control"  required pattern="[A-Za-z0-9]{8,20}"/>
                                        </div> 
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <div  class="col-sm-4">
                                        <label class="control-label">Confime la Contraseña</label>    
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="inner-addon right-addon">
                                            <i *ngIf="confime.valid && iguales==true" style="color: green" class="fa fa-check-circle"></i>
                                            <i *ngIf="confime.valid && iguales==false" style="color: red" class="fa fa-times-circle"></i>
                                            <input  id="confirmar" (keyup)="limitar()" type="password" #confime="ngModel" name="confime" [(ngModel)]="usuario.confirme" class="form-control" required />
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div style="text-align: center">
                            <button style="margin-right: 10px" [disabled]="!fordatos.form.valid "  (click)="volverapermisos()" class="btn btn-primary "><i class="fa fa-arrow-circle-left"> volver atras</i></button>
                            <button  type="submit" [disabled]="!formvalidacion.form.valid" class="btn btn-success ">Guardar <i class="fa fa-upload"></i></button>
                        </div>              
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
