<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h2>{{titulo}}</h2>
    </div>
</div>
<div *ngIf="cuenta==1 && ap==1 && titulo=='Mantenimiento de Usuarios'" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title">Exportar Información</h4>
                    <div class="table-responsive m-t-20"></div>
                    <div *ngIf="!usuarios">
                        cargando listado de usuarios...
                    </div>
                    <div *ngIf="usuarios">
                        <table id="tablausuarios" class="table table-bordered table-striped"  cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>nombres</th>
                                    <th>direccion</th>
                                    <th>telefono</th>
                                    <th>rol</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th>nombres</th>
                                    <th>direccion</th>
                                    <th>telefono</th>
                                    <th>rol</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr *ngFor="let users of usuarios">
                                    <td style=" padding: 0px;width: 75px">
                                        <div style="text-align: center" >
                                            <a style="color: white" class="btn btn-sm btn-primary  " (click)="confirmaractualizar(users.id)"><i class="fa fa-edit"></i></a>                                            
                                            <a style="color: white" class="btn btn-sm btn-danger "(click)="borraralerta(users.id)" ><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                    <td>{{users.name}} {{users.apellidos}}</td>
                                    <td>{{users.direccion}}</td>
                                    <td>{{users.telefono}}</td>
                                    <td>{{users.rol}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form #fordatos="ngForm" (ngSubmit)="alimentarareglodp()">
    <div *ngIf="cuenta==0 && ap==0" class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-primary">
                    <div class="card-body">
                        <div class="form-body">
                            <div class="row p-t-20">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">nombre</label>
                                        <div class="inner-addon left-addon">
                                            <i *ngIf="nombre.valid" style="color: green" class="fa fa-check"></i>
                                            <i *ngIf="!nombre.valid && nombre.touched" style="color: red" class="fa fa-times"></i>
                                            <input type="text"  #nombre="ngModel" name="nombre" [(ngModel)]="usuario.name" class="form-control" required>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">apellidos</label>
                                        <div class="inner-addon left-addon">
                                            <i *ngIf="apellidos.valid" style="color: green" class="fa fa-check"></i>
                                            <i *ngIf="!apellidos.valid && apellidos.touched" style="color: red" class="fa fa-times"></i>
                                            <input type="text"  #apellidos="ngModel" name="apellidos" [(ngModel)]="usuario.apellidos"  class="form-control"required/>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-danger">           
                                        <label class="control-label">nacimiento </label>
                                        <div class="inner-addon left-addon">
                                            <i *ngIf="nacimiento.valid" style="color: green" class="fa fa-check"></i>
                                            <i *ngIf="!nacimiento.valid && nacimiento.touched" style="color: red" class="fa fa-times"></i>
                                            <input type="date" #nacimiento="ngModel" name="nacimiento" max="{{fecha}}" [(ngModel)]="usuario.nacimiento" class="form-control" required/>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group has-danger">           
                                        <label class="control-label">direccion </label>
                                        <div class="inner-addon left-addon">
                                            <i *ngIf="direccion.valid" style="color: green" class="fa fa-check"></i>
                                            <i *ngIf="!direccion.valid && direccion.touched" style="color: red" class="fa fa-times"></i>
                                            <input type="text" #direccion="ngModel" name="direccion" [(ngModel)]="usuario.direccion" class="form-control" required />
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">telefono</label>
                                        <div class="inner-addon left-addon">
                                            <i *ngIf="telefono.valid" style="color: green" class="fa fa-check"></i>
                                            <i *ngIf="!telefono.valid && telefono.touched" style="color: red" class="fa fa-times"></i>
                                            <input type="text"  #telefono="ngModel" name="telefono" [(ngModel)]="usuario.telefono" class="form-control" required pattern="[0-9]{1}[0-9]{8}">
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">documento</label>
                                        <div class="inner-addon left-addon">
                                            <i *ngIf="documento.valid" style="color: green" class="fa fa-check"></i>
                                            <i *ngIf="!documento.valid && documento.touched" style="color: red" class="fa fa-times"></i>
                                            <select #documento="ngModel" name="documento" [(ngModel)]="usuario.id_documento" class="form-control custom-select" data-placeholder="Choose a Category" tabindex="0" SelectedIndex="-1" required>
                                                    <option disabled="disabled" >--seleccione el documento</option>    
                                                <option *ngFor="let docu of documentos" value="{{docu.id}}"><b>{{docu.documento}}</b></option>
                                            </select>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-danger">           
                                        <label class="control-label">documento(numero)</label>
                                        <div class="inner-addon left-addon">
                                            <i *ngIf="numero.valid" style="color: green" class="fa fa-check"></i>
                                            <i *ngIf="!numero.valid && numero.touched" style="color: red" class="fa fa-times"></i>
                                            <input type="text" #numero="ngModel" name="numero" [(ngModel)]="usuario.numero_documento" class="form-control " required pattern="[0-9]+"/>
                                        </div> 
                                    </div>
                                </div>                
                            </div>
                            <div  style="text-align: right;padding-right: 50px">
                                <button *ngIf="titulo=='Mantenimiento de Usuarios'" style="margin-right: 10px"  (click)="volvertablausuarios()" [disabled]="!fordatos.form.valid " class="btn btn-success btn-flat btn-addon "><i class="fa fa-arrow-circle-left"> volver atras</i></button>
                                <button  type="submit" [disabled]="!fordatos.form.valid " class="btn btn-success btn-flat btn-addon ">siguiente <i class="fa fa-arrow-circle-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>         
</form>
<form #formap="ngForm" >
     <div *ngIf="cuenta==0 && ap!=0"  class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-primary">
                    <div class="card-body">
                        <div class="form-body">
                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group has-danger">           
                                        <label class="control-label">rol</label>
                                        <div class="inner-addon left-addon">
                                            <i *ngIf="rol.valid" style="color: green" class="fa fa-check"></i>
                                            <i *ngIf="!rol.valid && rol.touched" style="color: red" class="fa fa-times"></i>
                                            <select #rol="ngModel" name="rol" [(ngModel)]="usuario.rol" class="form-control custom-select" required>
                                                <option disabled="disabled" >--seleccione el rol</option>    
                                                <option  ><b>admin</b></option>
                                                <option  ><b>empleado</b></option>
                                            </select>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive m-t-40">
                                <p class="card-title">seleccione las sucursales permitidas para el usuario</p>
                                <div *ngIf="!sucursales">
                                    cargando listado de sucursales...
                                </div>
                                <div *ngIf="sucursales">
                                    <table style="text-align: center" id="tablasucursales" class="table table-bordered table-striped"  cellpadding="0" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>nombre</th>
                                                <th>telefono</th>
                                                <th>descripcion</th>
                                                <th style="text-align: center">direccion</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>nombre</th>
                                                <th>telefono</th>
                                                <th>descripcion</th>
                                                <th style="text-align: center">direccion</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>  
                                            <tr style="text-align: center" *ngFor="let sucursal of sucursales; let $index=index">
                                                <td style="width : 50px;">
                                                    <div *ngIf="sucursal.id!=null"><button (click)="addsucursal($index,sucursal.id)" class="btn btn-info btn-flat btn-addon btn-sm m-b-5 m-l-5"><i class="fa fa-circle-o"></i></button></div>
                                                    <div *ngIf="sucursal.id==null" ><button (click)="quitarsucursal($index)" class="btn btn-success btn-flat btn-addon btn-sm m-b-5 m-l-5"><i class="fa fa-circle"></i></button></div>
                                                </td>
                                                <td >{{sucursal.nombre_sucursal}}</td>
                                                <td >{{sucursal.telefono}}</td>
                                                <td >{{sucursal.direccion}}</td>
                                                <td style="text-align: center">{{sucursal.descripcion}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <br>
                            <br>
                            <div  *ngIf="titulo!='Mantenimiento de Usuarios'" style="text-align: right;padding-right: 50px;">
                                <button style="margin-right: 10px"  (click)="atras()" [disabled]="!fordatos.form.valid " class="btn btn-success btn-flat btn-addon ">
                                    <i class="fa fa-arrow-circle-left"> volver atras</i></button>
                                <button *ngIf="siguiente!=0" [disabled]="!formap.form.valid " (click)="alimentararegloap()" class="btn btn-success btn-flat btn-addon ">
                                    siguiente <i class="fa fa-arrow-circle-right"></i></button>
                            </div>

                            <div  *ngIf="titulo=='Mantenimiento de Usuarios'" style="text-align: right;padding-right: 50px;">
                                <button style="margin-right: 10px"  [disabled]="!fordatos.form.valid " (click)="atras()" class="btn btn-success btn-flat btn-addon ">
                                    <i class="fa fa-arrow-circle-left"> volver atras</i></button>
                                <button  *ngIf="siguiente!=0" [disabled]="!formap.form.valid " (click)="guardarcambios()" class="btn btn-primary btn-flat btn-addon ">
                                    guardar <i class="fa fa-edit"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                  
</form>
<form #formvalidacion="ngForm" (ngSubmit)="guardarusuario(usuario.password,usuario.password)">
     <div *ngIf="cuenta!=0 && ap==0 && titulo!='Mantenimiento de Usuarios'"  class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-primary">
                    <div class="card-body">
                        <div class="form-body">
                            <div class="row p-t-20">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">email</label>
                                        <div class="inner-addon left-addon">
                                            <i *ngIf="email.valid" style="color: green" class="fa fa-check"></i>
                                            <i *ngIf="!email.valid && email.touched" style="color: red" class="fa fa-times"></i>
                                            <input type="text" id="emailunico"  #email="ngModel" name="email" [(ngModel)]="usuario.email" class="form-control" required>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-danger">           
                                        <label class="control-label">password (8 digitos)</label>
                                        <div class="inner-addon right-addon">
                                            <i *ngIf="password.valid" style="color: green" class="fa fa-check-circle"></i>
                                            <i *ngIf="!password.valid && password.touched" style="color: red" class="fa fa-times-circle"></i>
                                            <input id="pasword" type="password" #password="ngModel" name="password" [(ngModel)]="usuario.password" 
                                            class="form-control"  required pattern="[A-Za-z0-9]{8,20}"/>
                                        </div> 
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-danger">           
                                        <label class="control-label">confime la contraseña</label>
                                        <div class="inner-addon right-addon">
                                            <i *ngIf="confime.valid && iguales==true" style="color: green" class="fa fa-check-circle"></i>
                                            <i *ngIf="confime.valid && iguales==false" style="color: red" class="fa fa-times-circle"></i>
                                            <input  id="confirmar" (keyup)="limitar()" type="password" #confime="ngModel" name="confime" [(ngModel)]="usuario.confirme" class="form-control" required />
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            <div  style="text-align: right;padding-right: 50px;">
                                <button style="margin-right: 10px" [disabled]="!fordatos.form.valid "  (click)="volverapermisos()" class="btn btn-success btn-flat btn-addon "><i class="fa fa-arrow-circle-left"> volver atras</i></button>
                                <button  type="submit" [disabled]="!formvalidacion.form.valid" class="btn btn-success btn-flat btn-addon ">Guardar <i class="fa fa-upload"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                  
</form>