<form #fordatos="ngForm" (ngSubmit)="alimantarareglo()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-primary">
                    <div class="card-body">
                        <div class="form-body">
                            <div class="row p-t-20">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">nombre
                                        <span *ngIf="!nombre.valid && nombre.touched" class="label label-default">El nombre es obligatorio</span>
                                        <label id="rec" *ngIf="!nombre.valid">*</label>
                                        </label>
                                        <input type="text"  #nombre="ngModel" name="nombre" [(ngModel)]="usuario.name" class="form-control col-md-12" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">apellidos
                                        <span *ngIf="!apellidos.valid && apellidos.touched" class="label label-default">El nombre es obligatorio</span>
                                        <label id="rec" *ngIf="!apellidos.valid">*</label>
                                        </label>
                                        <input type="text"  #apellidos="ngModel" name="apellidos" [(ngModel)]="usuario.apellidos"  class="form-control col-md-12"required/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-danger">           
                                        <label class="control-label">direccion
                                        <span *ngIf="!direccion.valid && direccion.touched" class="label label-default">la direccion es obligatoria</span>                                                 
                                        <label id="rec" *ngIf="!direccion.valid">*</label>
                                        </label>
                                        <input type="text" #direccion="ngModel" name="direccion" [(ngModel)]="usuario.direccion" class="form-control col-md-12" required pattern="[0-9]+"/>
                                    </div>
                                </div>
                            </div>
                            <div style="padding-left: 200px;padding-right: 200px"  class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">documento
                                        <span *ngIf="!documento.valid && documento.touched" class="label label-default">El documento es obligatorio</span>
                                        <label id="rec" *ngIf="!documento.valid">*</label>
                                        </label>
                                        <input type="text"  #documento="ngModel" name="documento" [(ngModel)]="usuario.id_documento" class="form-control col-md-12" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-danger">           
                                        <label class="control-label">documento(numero)
                                        <span *ngIf="!numero.valid && numero.touched" class="label label-default">El precio no es correcto</span>                                                 
                                        <label id="rec" *ngIf="!numero.valid">*</label>
                                        </label>
                                        <input type="text" #numero="ngModel" name="numero" [(ngModel)]="usuario.numero_documento" class="form-control col-md-12" required pattern="[0-9]+"/>
                                    </div>
                                </div>                
                            </div>
                            <div class="row p-t-20">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">telefono
                                        <span *ngIf="!telefono.valid && telefono.touched" class="label label-default">El documento es obligatorio</span>
                                        <label id="rec" *ngIf="!telefono.valid">*</label>
                                        </label>
                                        <input type="text"  #telefono="ngModel" name="telefono" [(ngModel)]="usuario.telefono" class="form-control col-md-12" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                <div class="form-group has-danger">           
                                        <label class="control-label">nacimiento
                                        <span *ngIf="!nacimiento.valid && nacimiento.touched" class="label label-default">El precio no es correcto</span>                                                 
                                        <label id="rec" *ngIf="!nacimiento.valid">*</label>
                                        </label>
                                        <input type="date" #nacimiento="ngModel" name="nacimiento" [(ngModel)]="usuario.nacimiento" class="form-control col-md-12" required/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-danger">           
                                        <label class="control-label">rol
                                        <span *ngIf="!rol.valid && rol.touched" class="label label-default">debe seleccionar el rol</span>                                                 
                                        <label id="rec" *ngIf="!rol.valid">*</label>
                                        </label>
                                        <input type="text" #rol="ngModel" name="rol" [(ngModel)]="usuario.rol" class="form-control col-md-12" required/>
                                    </div>
                                </div>
                            </div>
                            <div  style="text-align: right;padding-right: 50px;">
                                <button  type="submit" [disabled]="!fordatos.form.valid " class="btn btn-success btn-flat btn-addon ">siguiente <i class="fa fa-arrow-circle-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>         
</form>
<form #formvalidacion="ngForm">
     <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-outline-primary">
                    <div class="card-body">
                        <div class="form-body">
                            <div class="row p-t-20">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">email
                                        <span *ngIf="!email.valid && email.touched" class="label label-default">El documento es obligatorio</span>
                                        <label id="rec" *ngIf="!email.valid">*</label>
                                        </label>
                                        <input type="text"  #email="ngModel" name="email" [(ngModel)]="usuario.email" class="form-control col-md-12" required>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-danger">           
                                        <label class="control-label">password
                                        <span *ngIf="!password.valid && password.touched" class="label label-default">El precio no es correcto</span>                                                 
                                        <label id="rec" *ngIf="!password.valid">*</label>
                                        </label>
                                        <input id="pasword" type="password" #password="ngModel" name="password" [(ngModel)]="usuario.password" class="form-control col-md-12" required/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group has-danger">           
                                        <label class="control-label">confime la contraseña
                                        <span *ngIf="confime.valid && compara!=1" class="label label-default">contraseña incorecta</span>                                                 
                                        <label id="rec" *ngIf="!confime.valid">*</label>
                                        </label>
                                        <input  id="confirmar" (keyup)="limitar()" type="password" #confime="ngModel" name="confime" [(ngModel)]="usuario.confirme" class="form-control col-md-12" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                  
</form>