<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-primary">{{titulo}}</h3>
    </div>
</div>
<div *ngIf="ocuataralmacenes==null" class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline-primary">
                <div class="card-body">
                    <div class="form-body">
                        <div *ngIf="almacenselec!=0" class="container-fluid">
                            <div class="table-responsive m-t-40">
                                <p class="card-title">seleccione el almacen</p>
                                <div *ngIf="!almacenes">
                                    cargando listado de almacenes....
                                </div>
                                <div *ngIf="almacenes">
                                <table id="tablalmacenes" class="table table-bordered table-striped"  cellpadding="0" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>almacen</th>
                                            <th>descripcion</th>
                                            <th>direccion</th>
                                            <th style="text-align: left;">telefono</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th></th>
                                            <th>almacen</th>
                                            <th>descripcion</th>
                                            <th>direccion</th>
                                            <th style="text-align: left;">telefono</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>  
                                        <tr (click)="buscardetalle(almacen.id)" *ngFor="let almacen of almacenes; let $index=index">
                                            <td style="text-align: center"><button (click)="buscardetalle(almacen.id)" class="btn btn-info btn-flat btn-addon btn-sm m-b-5 m-l-5"><i class="fa fa-circle-o"></i></button></td>
                                            <td style="text-align: center">{{almacen.nombre}}</td>
                                            <td style="text-align: center"><strong>{{almacen.descripcion}}</strong></td>
                                            <td style="text-align: center">{{almacen.direccion}}</td>
                                            <td style="text-align: center">{{almacen.telefono}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="ocuataralmacenes!=null" class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title">Exportar Información</h4>
                    <div class="table-responsive m-t-20"></div>
                        <div *ngIf="!stoks">
                            cargando listado de almacenes....
                        </div>
                        <div *ngIf="stoks">
                         <div style="text-align:right">
                            <button (click)="cerrar()" class="btn btn-info btn-flat btn-addon btn-sm m-b-5 m-l-5"><i class="fa fa-angle-double-up"></i>
                               almacenes
                            </button>
                        </div>     
                        <form #formeditaralmacen="ngForm" (ngSubmit)="editardetallealmacen()">
                            <table id="mytable" class="table table-bordered table-striped"  cellpadding="0" cellspacing="0">
                                <thead>
                                     <tr>
                                        <th>almacen</th>
                                        <th>producto</th>
                                        <th>stock</th>
                                        <th>compra</th>
                                        <th>venta</th>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>almacen</th>
                                        <th>producto</th>
                                        <th>stock</th>
                                        <th>compra</th>
                                        <th>venta</th>
                                        <td></td>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="let cantidad of stoks">
                                        <td>{{cantidad.nombre}}</td>
                                        <td>{{cantidad.nombre_producto}}</td>
                                        <td>{{cantidad.stock}}</td>
                                        <td>{{cantidad.precio_compra}}</td>
                                        <td *ngIf="idalmacen!=cantidad.id">{{cantidad.precio_venta}}</td>
                                        <td *ngIf="idalmacen==cantidad.id" style="padding: 0px;">
                                            <div style="margin-right: 0px;">
                                                <div style="padding-right: 0px;">
                                                <input #precio="ngModel" name="precio" type="text" style="width:100%; height: 38px;" [(ngModel)]="editalmecen.precio_venta" >
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div *ngIf="idalmacen!=cantidad.id">
                                                <a (click)="confirmaractualizar(cantidad.id)" class="btn btn-sm btn-warning" ><i class="fa fa-edit"></i></a>      
                                            </div>
                                            <div *ngIf="idalmacen==cantidad.id">
                                                <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-save"></i></button> 
                                                <a class="btn btn-sm btn-danger " (click)="cancelar()" ><i class="fa fa-ban"></i></a>                
                                            </div>                            
                                        </td> 
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
